div.row.catalog-bottom
	div.col-lg-3
		a.catalog-top-scroll.scroll(href="#top").hide-mobile
			img.catalog-top-scroll__image(src="local/templates/kolesatyt/img/top-icon.png")
			span.catalog-top-scroll__text Наверх
	div.col-lg-9
		div.catalog-bottom-container-pagination
			div.catalog-pagination
				a.catalog-pagination__prev(href="#")
				a.catalog-pagination__link(href="#") 1
				a.catalog-pagination__link(href="#") 2
				a.catalog-pagination__link_active(href="#") 3
				a.catalog-pagination__link(href="#") ...
				a.catalog-pagination__link(href="#") 111
				a.catalog-pagination__next(href="#")
			a.catalog-show-more(href="#") Показать еще
			a.catalog-top-scroll.catalog-top-scroll-mobile.scroll.show-mobile(href="#top").hide-mobile
				img.catalog-top-scroll__image(src="local/templates/kolesatyt/img/top-icon.png")
				span.catalog-top-scroll__text Наверх
div.row
	div.col-lg-12
		div.catalog-bottom-search
			span.catalog-bottom-search__text Не нашли диск? Закажите кованые диски по индивидуальному дизайну
			a.catalog-bottom-search__button(href="#") Подробнее

div.row
	div.col-lg-12
		div.catalog-bottom-text
			p
				|Литые и кованые диски в интернет-магазине KOLESATYT:
				br
				|Мы предлагаем в интернет-магазине KOLESATYT купить диски недорого с доставкой, предварительно посмотрев подробные характеристики дисков и обзоры новинок. Вы сможете купить диски в Москве, СПБ и других городах России легко, оформив заказ через корзину.
				br
				br
				|Наш интернет-магазин предлагает доступные цены на диски. В нашем каталоге есть как дорогие, так и дешевые диски. Вы обязательно подберете для себя то, что нужно благодаря широкому ассортименту и диапазону цен на диски от 14090 до 379090 рублей.