div.container
	div.row
		div.col-lg-12.catalog-selection-top
			span.catalog-selection-top__title Подбор дисков к автомобилю
			a.catalog-selection-top__link-btn.hide-mobile(href="#") Шины к авто
			a.catalog-selection-top__link-btn.hide-mobile(href="#") По параметрам
		div.col-lg-12.catalog-selection-name-auto
			a.catalog-selection-name-auto-edit(href="#modalTryOn" data-toggle="modal")
				span.catalog-selection-name-auto-edit__span Изменить авто
			span.catalog-selection-name-auto__item BMW 2-series 2015 г. 218i F45 Active Tourer
	div.row.container-catalog-selection
		div.col-lg-6
			div.catalog-selection-image-car
				img(src="local/templates/kolesatyt/img/car.png")
			div.catalog-likes-block
				div.catalog-likes-block__title
					|Вам понравилось
					b &nbsp;10 шт&nbsp;
				div.catalog-detail-small-image-slider.image-slider-likes
					div.catalog-likes-item
						a.catalog-detail-small-image__link.active.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
							img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
						div.catalog-likes-item-hide-block
							a.catalog-likes-item-hide-block__link(href="#") MR139 7x16/5x112 ET37 D66.6
							span.catalog-likes-item-hide-block__price 3 700 &#8381;
							a.catalog-likes-item-hide-block__btn-cart(href="#") Купить
							a.catalog-likes-item-hide-block__btn-read(href="#") Примерить
					div.catalog-likes-item
						a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
							img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
						div.catalog-likes-item-hide-block
							a.catalog-likes-item-hide-block__link(href="#") MR139 7x16/5x112 ET37 D66.6
							span.catalog-likes-item-hide-block__price 3 700 &#8381;
							a.catalog-likes-item-hide-block__btn-cart(href="#") Купить
							a.catalog-likes-item-hide-block__btn-read(href="#") Примерить
					div.catalog-likes-item
						a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
							img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
						div.catalog-likes-item-hide-block
							a.catalog-likes-item-hide-block__link(href="#") MR139 7x16/5x112 ET37 D66.6
							span.catalog-likes-item-hide-block__price 3 700 &#8381;
							a.catalog-likes-item-hide-block__btn-cart(href="#") Купить
							a.catalog-likes-item-hide-block__btn-read(href="#") Примерить
					div.catalog-likes-item
						a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
							img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
						div.catalog-likes-item-hide-block
							a.catalog-likes-item-hide-block__link(href="#") MR139 7x16/5x112 ET37 D66.6
							span.catalog-likes-item-hide-block__price 3 700 &#8381;
							a.catalog-likes-item-hide-block__btn-cart(href="#") Купить
							a.catalog-likes-item-hide-block__btn-read(href="#") Примерить
					div.catalog-likes-item
						a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
							img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
						div.catalog-likes-item-hide-block
							a.catalog-likes-item-hide-block__link(href="#") MR139 7x16/5x112 ET37 D66.6
							span.catalog-likes-item-hide-block__price 3 700 &#8381;
							a.catalog-likes-item-hide-block__btn-cart(href="#") Купить
							a.catalog-likes-item-hide-block__btn-read(href="#") Примерить
					div.catalog-likes-item
						a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
							img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
						div.catalog-likes-item-hide-block
							a.catalog-likes-item-hide-block__link(href="#") MR139 7x16/5x112 ET37 D66.6
							span.catalog-likes-item-hide-block__price 3 700 &#8381;
							a.catalog-likes-item-hide-block__btn-cart(href="#") Купить
							a.catalog-likes-item-hide-block__btn-read(href="#") Примерить
		div.col-lg-5.col-lg-offset-1
			div.catalog-selection-parameters-block
				div.catalog-selection-parameters
					span.catalog-selection-title-parameter Параметры подбора
					div.catalog-selection-parameter-item
						span.catalog-selection-parameter__name PCD:
						span.catalog-selection-parameter__value 5x112
					div.catalog-selection-parameter-item
						span.catalog-selection-parameter__name Dia:
						span.catalog-selection-parameter__value 66.6
					div.catalog-selection-parameter-item
						span.catalog-selection-parameter__name Крепление:
						span.catalog-selection-parameter__value Болт 14*1.25
				a.catalog-selection-parameters-all(href="#modaltypesize" data-toggle="modal") Смотреть все параметры
			div.catalog-selection-radius-list
				span.catalog-selection-title-parameter Подходящие размеры дисков:
				div.catalog-selection-radius-list-item
					span.catalog-selection-radius-list-item__name R16
					span.catalog-selection-radius-list-item__text 7 х 16 ЕТ44
				div.catalog-selection-radius-list-item
					span.catalog-selection-radius-list-item__name R16
					span.catalog-selection-radius-list-item__text 7 х 16 ЕТ44
				div.catalog-selection-radius-list-item
					span.catalog-selection-radius-list-item__name R16
					span.catalog-selection-radius-list-item__text 7 х 16 ЕТ44
				div.catalog-selection-radius-list-item
					span.catalog-selection-radius-list-item__name R16
					span.catalog-selection-radius-list-item__text 7 х 16 ЕТ44
				div.catalog-selection-radius-list-item
					span.catalog-selection-radius-list-item__name R16
					span.catalog-selection-radius-list-item__text 7 х 16 ЕТ44
			a.catalog-selection-radius-extended__link(href="#") Расширенный подбор для передней и задней оси
	div.row
		div.col-lg-12.catalog-selection-name-auto
			a.catalog-selection-name-auto-edit.show-mobile.catalog-selection-open-filter(href="#modal-filter" data-toggle="modal")
				span.catalog-selection-name-auto-edit__span Фильтр с учетом авто

