div.col-lg-9.col-lg-offset-1
	div.row
		div.col-lg-12
			span.mobile-result-filter Литые; ширина 10.5; R 16; цена 3 000 - 5 000 Р; PCD 5*110; цвет: черный, серый; Alcasta, Harp, NZ; ступица 100.1
			span.catalog-title
				|Диски на 
				span.catalog-title-car БМВ 2 серии 2015 с двигателем 218i хэтчбэк в г. Ярославль
				span.catalog-title-count 1 443 товара
	div.row
		div.col-lg-12.catalog-top
			div.catalog-sort
				span.catalog-sort__span Сортировать:
				select(class="select-sort")
					option(value="по возрастанию цены") по возрастанию цены
					option(value="по убыванию цены") по убыванию цены
					option(value="по популярности") по популярности
				div.price-complect.hide-mobile
					label.price-complect-label
						input(type="checkbox")
						span.price-complect-label__span Цена за комплект (4 шт)

	div.row.hide-mobile.catalog-row
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					img.catalog-item-nokian(src="local/templates/kolesatyt/img/nokian.png")
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price 3 472 &#8381;
						div.catalog-item__buttons
							span.catalog-item__store
								| Ширина обода: 9.5 дюйм
								br
								| Диаметр обода: 22 дюйм
								br
								| Количество крепежных отверстий: 6
								br
								| Ø расположения отверстий: 139.7 мм
								br
								| Ø центрального отверстия: 78.1 мм
								br
								| Вылет (ET): 30 мм
							a.catalog-item__tocart(href="#") Купить
							a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					span.catalog-item__persent -30%
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.ships(src="local/templates/kolesatyt/svg/warning.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price.old 3 472 &#8381;
						span.catalog-item__price.new 2 200 &#8381;
						div.catalog-item__buttons
							span.catalog-item__store
								| Ширина обода: 9.5 дюйм
								br
								| Диаметр обода: 22 дюйм
								br
								| Количество крепежных отверстий: 6
								br
								| Ø расположения отверстий: 139.7 мм
								br
								| Ø центрального отверстия: 78.1 мм
								br
								| Вылет (ET): 30 мм
							a.catalog-item__tocart(href="#") Купить
							a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					img.catalog-item-nokian(src="local/templates/kolesatyt/img/nokian.png")
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price 3 472 &#8381;
					div.catalog-item__buttons
						span.catalog-item__store
							| Ширина обода: 9.5 дюйм
							br
							| Диаметр обода: 22 дюйм
							br
							| Количество крепежных отверстий: 6
							br
							| Ø расположения отверстий: 139.7 мм
							br
							| Ø центрального отверстия: 78.1 мм
							br
							| Вылет (ET): 30 мм
						a.catalog-item__tocart(href="#") Купить
						a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price 3 472 &#8381;
				div.catalog-item__buttons
					span.catalog-item__store
						| Ширина обода: 9.5 дюйм
						br
						| Диаметр обода: 22 дюйм
						br
						| Количество крепежных отверстий: 6
						br
						| Ø расположения отверстий: 139.7 мм
						br
						| Ø центрального отверстия: 78.1 мм
						br
						| Вылет (ET): 30 мм
					a.catalog-item__tocart(href="#") Купить
					a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					span.catalog-item__persent -30%
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price.old 3 472 &#8381;
						span.catalog-item__price.new 2 200 &#8381;
					div.catalog-item__buttons
						span.catalog-item__store
							| Ширина обода: 9.5 дюйм
							br
							| Диаметр обода: 22 дюйм
							br
							| Количество крепежных отверстий: 6
							br
							| Ø расположения отверстий: 139.7 мм
							br
							| Ø центрального отверстия: 78.1 мм
							br
							| Вылет (ET): 30 мм
						a.catalog-item__tocart(href="#") Купить
						a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price 3 472 &#8381;
					div.catalog-item__buttons
						span.catalog-item__store
							| Ширина обода: 9.5 дюйм
							br
							| Диаметр обода: 22 дюйм
							br
							| Количество крепежных отверстий: 6
							br
							| Ø расположения отверстий: 139.7 мм
							br
							| Ø центрального отверстия: 78.1 мм
							br
							| Вылет (ET): 30 мм
						a.catalog-item__tocart(href="#") Купить
						a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
	div.row.hide-mobile
		div.col-lg-12
			a.big-banner-link(href="#")
				img(src="local/templates/kolesatyt/img/big-banner-catalog.png")
	div.row.hide-mobile
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price 3 472 &#8381;
				div.catalog-item__buttons
					span.catalog-item__store
						| Ширина обода: 9.5 дюйм
						br
						| Диаметр обода: 22 дюйм
						br
						| Количество крепежных отверстий: 6
						br
						| Ø расположения отверстий: 139.7 мм
						br
						| Ø центрального отверстия: 78.1 мм
						br
						| Вылет (ET): 30 мм
					a.catalog-item__tocart(href="#") Купить
					a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					span.catalog-item__persent -30%
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price.old 3 472 &#8381;
						span.catalog-item__price.new 2 200 &#8381;
					div.catalog-item__buttons
						span.catalog-item__store
							| Ширина обода: 9.5 дюйм
							br
							| Диаметр обода: 22 дюйм
							br
							| Количество крепежных отверстий: 6
							br
							| Ø расположения отверстий: 139.7 мм
							br
							| Ø центрального отверстия: 78.1 мм
							br
							| Вылет (ET): 30 мм
						a.catalog-item__tocart(href="#") Купить
						a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
		div.col-lg-4.div.col-sm-6
			div.catalog-item
				div.catalog-item-info-big
					a.catalog-item__image(href="#")
						img(src="local/templates/kolesatyt/img/photo.png")
					div.catalog-icons-product
						i.catalog-item__best-price
						img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
						img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
					div.catalog-item-favorite-container
						i.catalog-item__favorite
					div.catalog-item-chart-container
						i.catalog-item__chart
					div.catalog-item-info
						span.catalog-item__articles Код 9167832
						a(href="#").catalog-item__brand Vissol, литой
						a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.catalog-item__color Серая полировка
						span.catalog-item__delivery Доставим сегодня, от 400 руб
						span.catalog-item__price 3 472 &#8381;
					div.catalog-item__buttons
						span.catalog-item__store
							| Ширина обода: 9.5 дюйм
							br
							| Диаметр обода: 22 дюйм
							br
							| Количество крепежных отверстий: 6
							br
							| Ø расположения отверстий: 139.7 мм
							br
							| Ø центрального отверстия: 78.1 мм
							br
							| Вылет (ET): 30 мм
						a.catalog-item__tocart(href="#") Купить
						a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
	div.row.mobile-catalog.show-mobile
		div.mobile-catalog-item
			div.mobile-catalog-item-content
				a.mobile-catalog-item-image(href="#")
					img(src="local/templates/kolesatyt/img/photo.png")
				div.mobile-catalog-item-info
					span.mobile-catalog-item-info__mini Vissol, литой
					a.mobile-catalog-item-info-brand__link(href="#") MR139 7x16/5x112 ET37 D66.6
					span.mobile-catalog-item-info__mini Серая полировка
					span.mobile-catalog-item-info__delivery Доставим сегодня, от 400 руб
				div.mobile-catalog-item-buttons
					a.mobile-catalog-item-buttons__add-to-cart(href="#") Купить
					span.mobile-catalog-item-info__price 3 472 &#8381;
		div.mobile-catalog-item
			div.mobile-catalog-item-content
				a.mobile-catalog-item-image(href="#")
					img(src="local/templates/kolesatyt/img/photo.png")
				div.mobile-catalog-item-info
					span.mobile-catalog-item-info__mini Vissol, литой
					a.mobile-catalog-item-info-brand__link(href="#") MR139 7x16/5x112 ET37 D66.6
					span.mobile-catalog-item-info__mini Серая полировка
					span.mobile-catalog-item-info__delivery Доставим сегодня, от 400 руб
				div.mobile-catalog-item-buttons
					a.mobile-catalog-item-buttons__add-to-cart(href="#") Купить
					span.mobile-catalog-item-info__price 3 472 &#8381;
		div.mobile-catalog-item
			div.mobile-catalog-item-content
				a.mobile-catalog-item-image(href="#")
					img(src="local/templates/kolesatyt/img/photo.png")
				div.mobile-catalog-item-info
					span.mobile-catalog-item-info__mini Vissol, литой
					a.mobile-catalog-item-info-brand__link(href="#") MR139 7x16/5x112 ET37 D66.6
					span.mobile-catalog-item-info__mini Серая полировка
					span.mobile-catalog-item-info__delivery Доставим сегодня, от 400 руб
				div.mobile-catalog-item-buttons
					a.mobile-catalog-item-buttons__add-to-cart(href="#") Купить
					span.mobile-catalog-item-info__price 3 472 &#8381;
