div.col-lg-2.left-sidebar
	div.filter.hide-mobile
		a(href="#")
		span.filter-title Фильтр с учетом авто
		div.filter-item
			span.filter-item__name Тип диска
				span(class="tooltip-grey" data-toggle="tooltip" title="Какое-то небольшое описание, которое поможет разобраться с данной услугой")
			div.filter-item-content
				label.filter-item-label
					input(type="radio" name="type-disk")
					span.filter-radio-text
						span.filter-radio-text__title Литой
						span.filter-radio-text__description Небольшая масса, снижение нагрузок на подшипники ступиц, трансмиссию, подвеску.
				label.filter-item-label
					input(type="radio" name="type-disk")
					span.filter-radio-text
						span.filter-radio-text__title Кованный
						span.filter-radio-text__description Исключительно прочны и значительно легче дисков других типов.
				label.filter-item-label
					input(type="radio" name="type-disk")
					span.filter-radio-text
						span.filter-radio-text__title Штампованный
						span.filter-radio-text__description Недорогие, достаточно прочные. При сильном ударе не трескаются, а мнутся.
		div.filter-item
			span.filter-item__name Срок доставки
			div.filter-item-content.filter-item-content-delivery
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text Сегодня
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text До 5 дней
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text Завтра
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text Любой
		div.filter-item
			span.filter-item__name Особенность
				span(class="tooltip-grey" data-toggle="tooltip" title="Какое-то небольшое описание, которое поможет разобраться с данной услугой")
			div.filter-item-content
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Заводские параметры
						span.filter-radio-text__description Параметры диска, рекомендованные производителем.
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Защита от грязи
						span.filter-radio-text__description Вылет больше (диск утоплен) или вылет уже обычного.
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Спортивная посадка
						span.filter-radio-text__description Вылет меньше (диск выпирает наружу) или вылет шире. 
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Универсальная ступица
						span.filter-radio-text__description С проставочными кольцами - ступичное отверстие больше, чем нужно.					
		div.filter-item
			select.selectpicker.select-name-slyle.tire-selection-line-big
				option Ширина 1
				option Ширина 2
				option Ширина 3
				option Ширина 4
				option Ширина 5
				option Ширина 6
				option Ширина 7
				option Ширина 8
				option Ширина 9
				option Ширина 10
				option Ширина 11
				option Ширина 12
				option Ширина 13
				option Ширина 14
				option Ширина 15
				option Ширина 16
				option Ширина 17
		div.filter-item
			span.filter-item__name Цена за 1 шт.
			div.range-select
				div.range-select-div
					span.range-select-span от
					input(type="text" name="pricefrom" class="range-select-price" id="pricefrom" value="")
				div.range-select-div
					span.range-select-span до
					input(type="text" name="priceto" class="range-select-price" id="priceto" value="")
			input(type="text" id="range" name="range" value="")
		div.filter-item
			span.filter-item__name.filter-item__name_hide Производитель
				span.filter-item__name-count 56
			div.filter-item-content-brand-container
				div.filter-item-content.filter-item-content-brand.scrollbar-inner
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alcasta
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Cross Street
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alutec
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alcasta
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Cross Street
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alutec
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alcasta
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Cross Street
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alutec
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alcasta
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Cross Street
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Arrivo
					label.filter-item-label.filter-item-label-brand
						input(type="checkbox" name="brand")
						span.filter-item-brand__text Alutec
		input.filter-btn(type="submit" value="Подобрать")
		a.filter-clear(href="#") Сбросить фильтр
