div.row
    div.col-lg-12.col-md-12.div-cart-top
        h1.cart-title Корзина
        div.cart-top-right
            span.catalog-detail-socials__text Поделиться в соц сетях
            div.catalog-detail-socials-links-block
                div.catalog-detail-socials-links
                    a.catalog-detail-socials__link(href="#")
                        img(src="local/templates/kolesatyt/svg/twitter.svg", alt="twitter", class="svg catalog-detail__share-social")
                    a.catalog-detail-socials__link(href="#")
                        img(src="local/templates/kolesatyt/svg/facebook.svg", alt="facebook", class="svg catalog-detail__share-social")
                    a.catalog-detail-socials__link(href="#")
                        img(src="local/templates/kolesatyt/svg/vk.svg", alt="vk", class="svg catalog-detail__share-social")
                    a.catalog-detail-socials__link(href="#")
                        img(src="local/templates/kolesatyt/svg/instagram.svg", alt="instagram", class="svg catalog-detail__share-social")
                    a.catalog-detail-socials__link(href="#")
                        img(src="local/templates/kolesatyt/svg/odnoklassniki-logo.svg", alt="odnoklassniki", class="svg catalog-detail__share-social")
                    a.catalog-detail-socials__link(href="#")
                        img(src="local/templates/kolesatyt/svg/google-plus-social-logotype.svg", alt="goggle-plus", class="svg catalog-detail__share-social")
            a.catalog-item-like(href="#")
            div.cart-print
                a.cart-print-icon(href="#")
                a.cart-print-link(href="#") распечатать
div.cart-table
    div.cart-table-row.cart-table-row-titles
        div.cart-table-col1
            span.cart-table-title код
        div.cart-table-col2
            span.cart-table-title товар
        div.cart-table-col3
            span.cart-table-title совместимость
        div.cart-table-col4
            span.cart-table-title наличие
        div.cart-table-col5
            span.cart-table-title стоимость
    div.cart-table-container
        div.cart-table-auto
            span.cart-table-auto__name BMW 2-series 2015 218i хэтчбек
            a.cart-table-auto-btn-edit(href="#")
                span.cart-table-auto-btn-edit__span изменить авто ДЛЯ ВСЕХ ТОВАРОВ
        div.cart-table-row.cart-table-row-internal
            div.cart-table-col1
                span.cart-table-article 0081246
            div.cart-table-col2
                div.cart-table-product
                    a.cart-table-product__image(href="#")
                        img(src="local/templates/kolesatyt/img/cart-image.png")
                    div
                        a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
                        span.cart-table-product__color Цвет: Черный
            div.cart-table-col3
                div.cart-table-compatibility
                    i.cart-table-compatibility_icon
                    span.cart-table-compatibility__text Не совместим с авто
                a.cart-table-compatibility__link(href="#")
                    span Для другого авто
                a.cart-table-compatibility__link(href="#")
                    span Подходящие шины к диску
            div.cart-table-col4
                span.cart-table-instock__span В резерве
                span.cart-table-instock-text
                    |Товар поступит на склад
                    b.cart-table-instock-text__bold  22.02.2017
                    |, далее будет отправлен отдельным заказом
            div.cart-table-col5
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        select.cart-table__price-count
                            option 1
                            option 2
                            option 3
                            option 4
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
                    a.cart-table-delete(href="#")
            div.cart-table-col6
                label.cart-table-checkbox
                    input(type="checkbox")
                    span.cart-table-checkbox-span
                        |Заказать шиномонтаж в
                        a.cart-table-checkbox-span__city(href="#") &nbsp;г. Владикавказ
                        |&nbsp;2000&#8381;
        hr.table-cart-separate
        div.cart-table-row.cart-table-row-internal
            div.cart-table-col1
                span.cart-table-article 0081246
            div.cart-table-col2
                div.cart-table-product
                    a.cart-table-product__image(href="#")
                        img(src="local/templates/kolesatyt/img/cart-image.png")
                    div
                        a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
            div.cart-table-col3
                div.cart-table-compatibility
                    i.cart-table-incompatibility_icon
                    span.cart-table-compatibility__text Совместим с авто
                a.cart-table-compatibility__link(href="#")
                    span Для другого авто
                a.cart-table-compatibility__link(href="#")
                    span Подходящие шины к диску
            div.cart-table-col4
                span.cart-table-instock__span В наличии
            div.cart-table-col5
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        select.cart-table__price-count
                            option 1
                            option 2
                            option 3
                            option 4
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
                    a.cart-table-delete(href="#")
            div.cart-table-col6
                label.cart-table-checkbox
                    input(type="checkbox")
                    span.cart-table-checkbox-span
                        | Заказать колесо в сборе
                    a(href="#" class="tooltip-grey" data-toggle="tooltip" title="Какое-то небольшое описание, которое поможет разобраться с данной услугой")

        hr.table-cart-separate
        div.cart-table-row.cart-table-row-internal
            div.cart-table-col1
                span.cart-table-article 0081246
            div.cart-table-col2
                div.cart-table-product
                    a.cart-table-product__image(href="#")
                        img(src="local/templates/kolesatyt/img/cart-image.png")
                    div
                        a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
            div.cart-table-col3
                div.cart-table-compatibility
                    i.cart-table-incompatibility_icon
                    span.cart-table-compatibility__text Совместим с авто
                a.cart-table-compatibility__link(href="#")
                    span Для другого авто
                a.cart-table-compatibility__link(href="#")
                    span Подходящие шины к диску
            div.cart-table-col4
                span.cart-table-instock__span В наличии
            div.cart-table-col5
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        select.cart-table__price-count
                            option 1
                            option 2
                            option 3
                            option 4
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
                    a.cart-table-delete(href="#")
            div.cart-table-col6
                label.cart-table-checkbox
                    input(type="checkbox")
                    span.cart-table-checkbox-span
                        | Заказать колесо в сборе
                    a(href="#" class="tooltip-grey" data-toggle="tooltip" title="Какое-то небольшое описание, которое поможет разобраться с данной услугой")

    div.cart-table-row.cart-table-row-internal
        div.cart-table-col1
            span.cart-table-article 0081246
        div.cart-table-col2
            div.cart-table-product
                a.cart-table-product__image(href="#")
                    img(src="local/templates/kolesatyt/img/cart-image.png")
                div
                    a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
        div.cart-table-col3
        div.cart-table-col4
            span.cart-table-instock__span В наличии
        div.cart-table-col5
            div.cart-table-price-and-delete
                div.cart-table-price
                    span.cart-table__price 8 080 &#8381;
                    span.cart-table__price-multi x
                    select.cart-table__price-count
                        option 1
                        option 2
                        option 3
                        option 4
                    span.cart-table__price-equally =
                    span.cart-table__price-total 32 320
                    span.cart-table__price-rouble &nbsp;&#8381;
                a.cart-table-delete(href="#")
    hr.table-cart-separate.no-margin
    div.cart-table-bottom
        form.cart-table-coupon
            input.cart-table-coupon__input(type="text" placeholder="Есть промокод?")
            input.cart-table-coupon__submit(type="submit" value="применить")
        div.cart-table-sum
            span.cart-table-sum__text Стоимость товаров и доп.услуг:
            span.cart-table-sum__price 66 320 &#8381;
    a.cart-table-btn(href="#") оформить заказ

