div.row
    div.col-lg-12.col-md-12
        span.cart-accessories-title Дополните вашу покупку аксессуарами
div.row
    div.col-lg-2.col-md-2.col-sm-6
        div.cart-accessories-item
            div.cart-accessories-item-content
                a.cart-accessories-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/access.png")
                a.cart-accessories-item__link(href="#") Влажные салфетки для авто Wet Wipes
                span.cart-accessories-item__price 3 472 &#8381;
            a.cart-accessories-item__btn(href="#") Купить
    div.col-lg-2.col-md-2.col-sm-6
        div.cart-accessories-item
            div.cart-accessories-item-content
                a.cart-accessories-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/access.png")
                a.cart-accessories-item__link(href="#") Влажные салфетки для авто Wet Wipes
                span.cart-accessories-item__price 3 472 &#8381;
            a.cart-accessories-item__btn(href="#") Купить
    div.col-lg-2.col-md-2.col-sm-6
        div.cart-accessories-item
            div.cart-accessories-item-content
                a.cart-accessories-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/access.png")
                a.cart-accessories-item__link(href="#") Влажные салфетки для авто Wet Wipes
                span.cart-accessories-item__price 3 472 &#8381;
            a.cart-accessories-item__btn(href="#") Купить
    div.col-lg-2.col-md-2.col-sm-6
        div.cart-accessories-item
            div.cart-accessories-item-content
                a.cart-accessories-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/access.png")
                a.cart-accessories-item__link(href="#") Влажные салфетки для авто Wet Wipes
                span.cart-accessories-item__price 3 472 &#8381;
            a.cart-accessories-item__btn(href="#") Купить
    div.col-lg-2.col-md-2.col-sm-6
        div.cart-accessories-item
            div.cart-accessories-item-content
                a.cart-accessories-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/access.png")
                a.cart-accessories-item__link(href="#") Влажные салфетки для авто Wet Wipes
                span.cart-accessories-item__price 3 472 &#8381;
            a.cart-accessories-item__btn(href="#") Купить
    div.col-lg-2.col-md-2.col-sm-6
        div.cart-accessories-item
            div.cart-accessories-item-content
                a.cart-accessories-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/access.png")
                a.cart-accessories-item__link(href="#") Влажные салфетки для авто Wet Wipes
                span.cart-accessories-item__price 3 472 &#8381;
            a.cart-accessories-item__btn(href="#") Купить