div.row
    div.col-lg-12.col-md-12
        div.steps-cart
            span.steps-cart-item.step1.active 1. Ваша корзина
            span.steps-cart-item.step2 2. Оформление заказа
            span.steps-cart-item 3. Покупка совершена
