html
    include components/head.pug
    body#top
        include components/header.pug
        include components/breadcrumps.pug
        div.container
            h1 Аксессуары
            div.row
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12.access-container
                    div.row
                        div.col-lg-4.col-md-4.col-sm-4.col-xs-12
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.black(href="#") Аварийное оборудование (0)
                            a.access-container__link.black(href="#") Аксессуары для ухода за автомобилем (0)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                        div.col-lg-4.col-md-4.col-sm-4.col-xs-12
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.black(href="#") Аварийное оборудование (0)
                            a.access-container__link.black(href="#") Аксессуары для ухода за автомобилем (0)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                        div.col-lg-4.col-md-4.col-sm-4.col-xs-12
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.black(href="#") Аварийное оборудование (0)
                            a.access-container__link.black(href="#") Аксессуары для ухода за автомобилем (0)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)
                            a.access-container__link.green(href="#") Аварийное оборудование (3)
                            a.access-container__link.green(href="#") Аксессуары для ухода за автомобилем (33)

        include components/footer.pug



