html
	include components/head.pug
	body#top
		include components/header.pug
		div.container
			include components/cart/steps.pug
			include components/cart/cart-table.pug
			include components/cart/cart-accessories.pug
		include components/footer.pug



