html
	include components/head.pug
	body#top
		include components/header.pug
		include components/breadcrumps.pug
		div.container
			include components/catalog-no-auto/catalog-no-auto-table.pug
			include components/catalog-no-auto/catalog-no-auto-select
		include components/footer.pug
		//include components/modals.pug




