html
	include components/head.pug
	body#top
		include components/header.pug
		div.container
			include components/checkout/steps.pug
			include components/checkout/checkout-content.pug
		include components/modal-points-issue.pug
		include components/footer.pug
		include components/modals.pug



