html
	include components/head.pug
	body#top
		include components/header.pug
		include components/breadcrumps.pug
		div.container
			div.row.page-in-text
				div.col-lg-2.col-md-2.col-sm-3.col-xs-12
					div.left-menu-text
						div.left-menu-text-item
							a.left-menu-text-item__title(href="#") КОЛЕСАТУТ.РУ
							div
								a.left-menu-text-item__menu(href="#") О компании
								a.left-menu-text-item__menu(href="#") Партнерам
								a.left-menu-text-item__menu(href="#") Франчайзинг
								a.left-menu-text-item__menu(href="#") Контакты
								a.left-menu-text-item__menu(href="#") О компании
						div.left-menu-text-item
							a.left-menu-text-item__title(href="#") Каталог
							div
								a.left-menu-text-item__menu(href="#") Шины
								a.left-menu-text-item__menu(href="#") Диски
								a.left-menu-text-item__menu(href="#") Инструменты
								a.left-menu-text-item__menu(href="#") Автохимия
								a.left-menu-text-item__menu(href="#") Акции
						div.left-menu-text-item
							a.left-menu-text-item__title(href="#") Помощь
							div
								a.left-menu-text-item__menu(href="#") Самовывоз
								a.left-menu-text-item__menu(href="#") Способы доставки
								a.left-menu-text-item__menu(href="#") Способы оплаты
								a.left-menu-text-item__menu(href="#") Правила возврата
						div.left-menu-text-item
							a.left-menu-text-item__title(href="#") Правила возврата
							div
								a.left-menu-text-item__menu(href="#") Обзоры шин и дисков
								a.left-menu-text-item__menu(href="#") Новости автомира
								a.left-menu-text-item__menu(href="#") Образец доверенности
								a.left-menu-text-item__menu(href="#") Как подобрать диски
								a.left-menu-text-item__menu(href="#") Как подобрать шины
				div.col-lg-9.col-md-9.col-sm-9.col-xs-12.col-lg-offset-1.col-md-offset-1
					h1.h1 Для партнеров
					p Мы дорожим отношениями с нашими партнерами и высоко ценим интересы своих покупателей. Стабильность, открытость и стремление к взаимовыгодному сотрудничеству - основные принципы работы компании.
					br
					h2.h2 Мы рады сотрудничать с вами, если
					ul
						li вы нацелены на рост и развитие вместе с нашей компанией
						li вы представляете интересы юридического лица любой организационной формы: ИП, ООО, ОАО, ЗАО
						li минимальная сумма Вашего заказа – 50 000 руб.
						li минимальная торговая площадь Вашего магазина – 30 кв.м
						li ваш магазин расположен не ближе, чем 1 км от магазинов других клиентов компании
					br
					h2.h2 Мы предлагаем вам
					ul
						li постоянно высокое качество детской одежды по доступным ценам
						li бесплатная доставка по Москве и в радиусе 15 км от МКАД
						li организация доставки в регионы России через выбранные Вами транспортные компании
						li полный пакет сопроводительных документов
						li рекламные материалы для оформления магазина
						li Каталог Весна-Лето 2017
					br
					p
						|По вопросам сотрудничества можете обращаться по телефону &nbsp;
						b 8 (495) 231-30-59
						|&nbsp;доб. 103 или по почте&nbsp;
						a(href="mailto:kolesatyt@kolesatyt.ru") kolesatyt@kolesatyt.ru
		include components/footer.pug