html
	include components/head.pug
	body
		include components/header.pug
		include components/block-tire-selection.pug
		include components/popular-model.pug
		include components/banner-after-popular.pug
		include components/news.pug
		include components/banner-after-news.pug
		include components/videoreviews.pug
		include components/about.pug
		include components/modal-points-issue.pug
		include components/footer.pug
		include components/modals.pug