html
	include components/head.pug
	body#top
		include components/header.pug
		include components/breadcrumps.pug
		div.container
			div.row
				div.col-lg-12
					h1.h1
						|Литые диски HARP
						span.models-city &nbsp;В яРОСЛАВЛЕ
					div.model-baner
						img(src="local/templates/kolesatyt/img/model-baner.png")
					span.title-model-and-city-arrow Читать о бренде
					div.model-and-city-text
						p Alcasta зарекомендовала себя в Ярославле как проверенный производитель, под которым изготавливается большой ассортимент литых легкосплавных дисков хорошего качества. Более того, диски для авто Alcasta являются пожалуй, лучшим предложением в своем ценовом сегменте. Производственный цикл проходит на технологичных автоматизированных линиях, на современных заводах в Азии. О качестве изготовления автодисков Alcasta можно судить по тому факту, что на этих же производствах закупают диски для авто такие мировые торговые марки, как «Мерседес», «Nissan», «Audi».
						p На всех этапах цикла по производству литых автодисков Alcasta работает система контроля качества, о чем свидетельствует международный сертификат качества ISO9001. Одновременно проводится регулярное тестирование на специальных стендах, что позволяет добиться совершенного уровня качества серийного производства. Кроме того, легкосплавные диски для авто Alcasta проходят проверку при помощи рентгеновских аппаратов на трещины и повреждения.
						p Литые диски Alcasta — это товар с ярким современным дизайном, обладающий доступной ценой. Кроме того весомым положительным качеством автодисков Alcasta можно назвать полную приспособленность к нашим условиям. Легкосплавные автодиски имеют хорошее лакокрасочное покрытие, устойчивое к ржавлению и перепадам температуры. Серьезным достоинством можно считать строгое следование характеристикам, заданным разными автопроизводителями. Это дает возможность устанавливать литые диски Alcasta вместо оригинальных, не нарушая гарантийное обслуживание на автомобиль.
					div.row
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Какое-то длинное наименование. Очень длинное. Даже не знаю куда его деть
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
						div.col-lg-3.col-md-3.col-sm-6.col-xs-12
							div.catalog-item
								div.catalog-item-info-big
									a.catalog-item__image(href="#")
										img(src="local/templates/kolesatyt/img/photo.png")
									div.catalog-item-info.catalog-item-info-model
										a.catalog-item__link(href="#") Название литого диска
										span.catalog-item__price от 3 472 &#8381;
									div.catalog-item__buttons
										span.catalog-item__store
											b Диаметр обода:
											br
											span от 16 до 18 дюймов
										a.catalog-item__tocart(href="#") Подробнее
					div.news-page-bottom
						div.news-page-bottom-pagination-and-btn.row
							div.col-lg-10.col-md-10.col-sm-9.col-xs-12
								div.catalog-bottom-container-pagination
									div.catalog-pagination
										a.catalog-pagination__prev(href="#")
										a.catalog-pagination__link(href="#") 1
										a.catalog-pagination__link(href="#") 2
										a.catalog-pagination__link_active(href="#") 3
										a.catalog-pagination__link(href="#") ...
										a.catalog-pagination__link(href="#") 111
										a.catalog-pagination__next(href="#")
							div.col-lg-2.col-md-2.col-sm-3.col-xs-12
								a.catalog-show-more(href="#") Показать еще
						div.row
							div.col-lg-12.news-page-bottom-scroll
								a.catalog-top-scroll.scroll(href="#top")
									img.catalog-top-scroll__image(src="local/templates/kolesatyt/img/top-icon.png")
									span.catalog-top-scroll__text Наверх
					div.models-text-block-bottom
						div.row
							div.col-lg-12
								span.title-model-and-city
									| Где заказать литые колесные диски&nbsp;
									a.title-model-and-city__link(href="#") Alcasta
									| &nbsp;
									a.title-model-and-city__link(href="#") в Ярославле
									| ?
								span.title-model-and-city-arrow
									| Где заказать литые колесные диски&nbsp;
									a.title-model-and-city__link(href="#") Alcasta
									| &nbsp;
									a.title-model-and-city__link(href="#") в Ярославле
									| ?
								div.model-and-city-text
									p Магазин «КолесаТут» является частью крупной региональной сети, занимающейся поставками большого выбора автомобильных дисков от мировых торговых марок. «KolesaTyt» работает со многими топовыми торговыми марками как официальный дилер. Легкосплавные диски Alcasta приобретаются без посредников, по этой причине мы можем устанавливать наиболее выгодные условия поставок и обслуживания по гарантии этого товара. Дизайн легкосплавных автомобильных дисков, производимых под маркой Alcasta, выполнялась специалистами, с учетом предпочтений наших клиентов.
					div.models-text-block-bottom
						div.row
							div.col-lg-12
								span.title-model-and-city
									| Почему вам стоит остановиться на «КолесаТут
									| &nbsp;
									a.title-model-and-city__link(href="#") в Ярославле
									| ?
								span.title-model-and-city-arrow
									| Почему вам стоит остановиться на «КолесаТут
									| &nbsp;
									a.title-model-and-city__link(href="#") в Ярославле
									| ?
								div.model-and-city-text
									p
										| Поставки без посредников в Ярославле от ведущих производителей дисков, с обязательным контролем оригинальности продукции;
										br
										| широкий и регулярно расширяющийся ассортимент в Ярославле — более восьми с половиной тысяч моделей дисков;
										br
										| длительная гарантия производителя и продавца, ориентированный на клиента современный сервис в Ярославле;
										br
										| демократичные цены;
										br
										| понятный подбор легкосплавных дисков по модели авто, наличие визуальной примерки автодисков;
										br
										| доставка, удобные способы оплаты на выбор, интернет-кредитование.
									p Магазин «KolesaTyt» предлагает не только литые и штампованные диски, но и широкий ассортимент автопокрышек. В интернет-магазине «КолесаТут» в Ярославле можете подобрать летние и зимние автомобильные шины для легковых машин, резину для грузовиков и авторезину для с/х авто. Наши операторы всегда готовы ответить на ваши вопросы по заказу шин и дисков, а также по условиям покупки и доставки в Ярославле.
									br
									p Позвоните и закажите прямо сейчас!
					div.models-text-block-bottom
						div.row
							div.col-lg-12
								span.title-model-and-city Смотрите также производителей
								span.title-model-and-city-arrow Смотрите также производителей
								div.model-and-city-text
									div.row.model-and-city-text-row
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
										div.col-lg-2.col-md-4.col-sm-6.col-xs-12
											a.models-brands__link(href="#") Harp
		include components/footer.pug



