html
	include components/head.pug
	body#top
		include components/header.pug
		include components/breadcrumps.pug
		div.container
			h1.h1 Новости
			div.row
				div.col-lg-12.col-md-12.col-sm-12
					div.news-item-page
						div.row
							div.col-lg-12.col-md-12.news-item-page-header
								div.row.news-item-page-header-row
									div.col-lg-1.col-md-2.col-sm-2.col-xs-4
										div.news-item-page-date
											span.news-item-page-date__text 10.02
											span.news-item-page-date__text 2017
									div.col-lg-5.col-md-5.col-sm-8.col-xs-8
										a.news-item-page-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
							div.col-lg-12.col-md-12.news-item-page-content
								div.row
									div.col-lg-4.col-md-8.col-sm-8.col-xs-12.col-sm-offset-2.col-md-offset-2.col-lg-offset-1.news-item-page-content-left
										a.news-item-page-content-image(href="#")
											img(src="local/templates/kolesatyt/img/news-page-img.png")
										span.news-count__reviews 157 просмотров
									div.col-lg-6.col-md-12.col-sm-12.col-xs-12.col-lg-offset-1
										div.news-item-page__text
											p
												| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
											p
												| На сегодняшний момент в Москве действует 4 участка с реверсивными полосами — на проспекте Мира, Волгоградском проспекте, Ярославском шоссе и Шереметьевской улице.
										div.row
											div.col-lg-4.col-md-4.col-sm-3.col-xs-12
												a.news-item-page__button(href="#") Читать все
					div.news-item-page
						div.row
							div.col-lg-12.col-md-12.news-item-page-header
								div.row.news-item-page-header-row
									div.col-lg-1.col-md-2.col-sm-2.col-xs-4
										div.news-item-page-date
											span.news-item-page-date__text 10.02
											span.news-item-page-date__text 2017
									div.col-lg-5.col-md-5.col-sm-8.col-xs-8
										a.news-item-page-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
							div.col-lg-12.col-md-12.news-item-page-content
								div.row
									div.col-lg-4.col-md-8.col-sm-8.col-xs-12.col-sm-offset-2.col-md-offset-2.col-lg-offset-1.news-item-page-content-left
										a.news-item-page-content-image(href="#")
											img(src="local/templates/kolesatyt/img/news-page-img.png")
										span.news-count__reviews 157 просмотров
									div.col-lg-6.col-md-12.col-sm-12.col-xs-12.col-lg-offset-1
										div.news-item-page__text
											p
												| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
											p
												| На сегодняшний момент в Москве действует 4 участка с реверсивными полосами — на проспекте Мира, Волгоградском проспекте, Ярославском шоссе и Шереметьевской улице.
										div.row
											div.col-lg-4.col-md-4.col-sm-3.col-xs-12
												a.news-item-page__button(href="#") Читать все
					div.news-item-page
						div.row
							div.col-lg-12.col-md-12.news-item-page-header
								div.row.news-item-page-header-row
									div.col-lg-1.col-md-2.col-sm-2.col-xs-4
										div.news-item-page-date
											span.news-item-page-date__text 10.02
											span.news-item-page-date__text 2017
									div.col-lg-5.col-md-5.col-sm-8.col-xs-8
										a.news-item-page-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
							div.col-lg-12.col-md-12.news-item-page-content
								div.row
									div.col-lg-4.col-md-8.col-sm-8.col-xs-12.col-sm-offset-2.col-md-offset-2.col-lg-offset-1.news-item-page-content-left
										a.news-item-page-content-image(href="#")
											img(src="local/templates/kolesatyt/img/news-page-img.png")
										span.news-count__reviews 157 просмотров
									div.col-lg-6.col-md-12.col-sm-12.col-xs-12.col-lg-offset-1
										div.news-item-page__text
											p
												| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
											p
												| На сегодняшний момент в Москве действует 4 участка с реверсивными полосами — на проспекте Мира, Волгоградском проспекте, Ярославском шоссе и Шереметьевской улице.
										div.row
											div.col-lg-4.col-md-4.col-sm-3.col-xs-12
												a.news-item-page__button(href="#") Читать все
			div.news-page-bottom
				div.news-page-bottom-pagination-and-btn.row
					div.col-lg-10.col-md-10.col-sm-9.col-xs-12
						div.catalog-bottom-container-pagination
							div.catalog-pagination
								a.catalog-pagination__prev(href="#")
								a.catalog-pagination__link(href="#") 1
								a.catalog-pagination__link(href="#") 2
								a.catalog-pagination__link_active(href="#") 3
								a.catalog-pagination__link(href="#") ...
								a.catalog-pagination__link(href="#") 111
								a.catalog-pagination__next(href="#")
					div.col-lg-2.col-md-2.col-sm-3.col-xs-12
						a.catalog-show-more(href="#") Показать еще
				div.col-lg-12.news-page-bottom-scroll
					a.catalog-top-scroll.scroll(href="#top")
						img.catalog-top-scroll__image(src="local/templates/kolesatyt/img/top-icon.png")
						span.catalog-top-scroll__text Наверх
		include components/footer.pug



