html
	include components/head.pug
	body#top
		include components/header.pug
		include components/breadcrumps.pug
		div.container
			h1.h1.title-news-detail заголовок новости или акции
			span.news-detail-date 20 мая 2017
			div.news-detail-big-image
				img(src="local/templates/kolesatyt/img/news-detail1.png")
			span.news-count__reviews 157 просмотров
			h2.h2 Подзаголовок
			p
				| Нижнедунайская равнина, в первом приближении, определяет курс. Астероид поступает в эллиптический базис эрозии. Большая Медведица вращает эллиптический круговорот машин вокруг статуи Эроса. Как следует из рассмотренного выше частного случая, граница пространственно вращает терминатор. Согласно изостатической концепции Эйри, Бельгия поступательно аккумулирует языковой кожух, обычно после этого все разбрасывают из деревянных коробочек завернутые в белую бумагу бобы, выкрикивая "они ва сото, фуку ва ути".
			p
				| Сырдарья недетерминировано даёт большую проекцию на оси, чем астероидный исток. Королевство велико. Диагностика минерала представляет собой параметр Родинга-Гамильтона. Все известные астероиды имеют прямое движение, при этом амфибол проецирует кварц.
			p
				ul.list-in-text
					li 1. Покупайте комплект шин (4шт) вместе с комплектом дисков (4 шт)
					li 2. При оформлении заказа, в корзине введите промокод FULLCOMPLECT
					li 3. Получайте скидку на диски в размере 8%
			div.row.news-detail-two-image
				div.col-lg-6.col-md-6.col-sm-12
					img(src="local/templates/kolesatyt/img/news-detail2.png")
				div.col-lg-6.col-md-6.col-sm-12
					img(src="local/templates/kolesatyt/img/news-detail3.png")
			p
				| Нижнедунайская равнина, в первом приближении, определяет курс. Астероид поступает в эллиптический базис эрозии. Большая Медведица вращает эллиптический круговорот машин вокруг статуи Эроса. Как следует из рассмотренного выше частного случая, граница пространственно вращает терминатор. Согласно изостатической концепции Эйри, Бельгия поступательно аккумулирует языковой кожух, обычно после этого все разбрасывают из деревянных коробочек завернутые в белую бумагу бобы, выкрикивая "они ва сото, фуку ва ути".
			p
				| Сырдарья недетерминировано даёт большую проекцию на оси, чем астероидный исток. Королевство велико. Диагностика минерала представляет собой параметр Родинга-Гамильтона. Все известные астероиды имеют прямое движение, при этом амфибол проецирует кварц.
			div.row.news-videoreviews
				div.col-lg-6.col-md-6.col-xs-12.col-sm-10.col-sm-offset-1.col-md-offset-0
					div.videoreviews-block
						iframe(src="https://www.youtube.com/embed/z8Ywo1Z1IIU" frameborder="0" allowfullscreen)
					div.videoreviews-socials
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/twitter.svg", alt="twitter", class="svg video-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/facebook.svg", alt="facebook", class="svg video-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/instagram.svg", alt="instagram", class="svg video-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/vk.svg", alt="vk", class="svg video-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/odnoklassniki-logo.svg", alt="odnoklassniki-logo", class="svg video-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/google-plus-social-logotype.svg", alt="google-plus-social-logotype", class="svg video-social")
				div.col-lg-5.col-lg-offset-1.col-md-5.col-md-offset-1.col-xs-12
					div.videoreviews-text
						p
							b.videoreviews__b Как правильно выбрать шины?
						p.videoreviews__p
							| При производстве «Alcasta» учитываются параметры, заданные заводами- производителями автомобилей, что позволяет устанавливать их вместо оригинальных (OEM) дисков и сохранять гарантию на машину.
						p.videoreviews__p
							| При производстве "Alcasta" учитываются параметры, заданные заводами- производителями автомобилей, что позволяет устанавливать их.
			div.row
				div.col-lg-12.news-page-bottom-scroll
					a.catalog-top-scroll.scroll(href="#top")
						img.catalog-top-scroll__image(src="local/templates/kolesatyt/img/top-icon.png")
						span.catalog-top-scroll__text Наверх
			div.row
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					a.news-detail-link__back(href="#") Вернуться ко всем новостям
		include components/footer.pug



