div.row
    div.col-lg-12.col-md-12
        div.info-order-block
            div.info-order-title
                div.col-lg-5.col-md-5.info-order-title-flex
                    span.info-order-title-status Статус заказа:
                    i.info-order-title-status__remove
                    span.info-order-title-status__text Отменен
                    span.info-order-title-status__date (от 13.05.2017)
                div.col-lg-7.col-md-7.info-order-title-sum
                    span.info-order-title-sum__title Сумма заказа:
                    span.info-order-title__sum 3 472 &#8381;
            div.info-order-block-content
                div.row
                    div.col-lg-6.col-md-6
                        div.info-order-block-content-item
                            span.info-order-block-content__title Данные вашей учетной записи
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name учетная запись:
                                span.info-order-block-content__text Аристарх
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Логин:
                                span.info-order-block-content__text aristarh
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Электронная почта:
                                a.info-order-block-content__link(href="#") aristarh@test.ru
                        div.info-order-block-content-item
                            span.info-order-block-content__title Параметры заказа
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Тип плательщика:
                                span.info-order-block-content__text Физическое лицо
                        div.info-order-block-content-item
                            span.info-order-block-content__title Параметры доставки и оплаты:
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name платежная система:
                                span.info-order-block-content__text Наличными при получении товара
                    div.col-lg-6.col-md-6
                        div.info-order-block-content-item
                            span.info-order-block-content__title Физическое лицо
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Контактное лицо:
                                span.info-order-block-content__text Аристарх
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Контактный телефон:
                                span.info-order-block-content__text +7 (   ) ___-___
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Электронная почта:
                                a.info-order-block-content__link(href="#") aristarh@test.ru
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name город:
                                span.info-order-block-content__text Ярославль
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name Несовместимый выбор комплектующих:
                                span.info-order-block-content__text Товары для разных авто
                            div.info-order-block-content-item-flex
                                span.info-order-block-content__name удобное время звонка:
                                span.info-order-block-content__text с 8:00 до 20:00
