span.title-info-order-black Содержимое заказа
div.cart-table
    div.cart-table-row.cart-table-row-titles.info-order-table-row-titles
        div.info-order-table-col1
            span.cart-table-title код
        div.info-order-table-col2
            span.cart-table-title товар
        div.info-order-table-col3
            span.cart-table-title свойства
        div.info-order-table-col4
            span.cart-table-title стоимость
    div.cart-table-container.hide-mobile
        div.cart-table-auto
            span.cart-table-auto__name BMW 2-series 2015 218i хэтчбек
        div.cart-table-row.cart-table-row-internal
            div.info-order-table-col1
                span.cart-table-article 0081246
            div.info-order-table-col2
                div.info-order-table-product
                    a.cart-table-product__image.order-info-table-product__image(href="#")
                        img(src="local/templates/kolesatyt/img/cart-image.png")
                    div
                        a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
                        span.cart-table-product__color Цвет: Черный
            div.info-order-table-col3

            div.info-order-table-col4
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        select.cart-table__price-count
                            option 1
                            option 2
                            option 3
                            option 4
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
        hr.table-cart-separate
        div.cart-table-row.cart-table-row-internal
            div.info-order-table-col1
                span.cart-table-article 0081246
            div.info-order-table-col2
                div.info-order-table-product
                    a.cart-table-product__image.order-info-table-product__image(href="#")
                        img(src="local/templates/kolesatyt/img/cart-image.png")
                    div
                        a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
                        span.cart-table-product__color Цвет: Черный
            div.info-order-table-col3
                div.info-order-table-col3-text
                    span.info-order-table-col3__name Объем товара:
                    span.info-order-table-col3__text 0.01
                div.info-order-table-col3-text
                    span.info-order-table-col3__name Вес товара:
                    span.info-order-table-col3__text 0.05
            div.info-order-table-col4
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        select.cart-table__price-count
                            option 1
                            option 2
                            option 3
                            option 4
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
        hr.table-cart-separate
        div.cart-table-row.cart-table-row-internal
            div.info-order-table-col1
                span.cart-table-article 0081246
            div.info-order-table-col2
                div.info-order-table-product
                    a.cart-table-product__image.order-info-table-product__image(href="#")
                        img(src="local/templates/kolesatyt/img/cart-image.png")
                    div
                        a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
                        span.cart-table-product__color Цвет: Черный
            div.info-order-table-col3

            div.info-order-table-col4
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        select.cart-table__price-count
                            option 1
                            option 2
                            option 3
                            option 4
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
    div.div.cart-table-container.info-order-mobile.show-mobile
        div.cart-table-auto
            span.cart-table-auto__name BMW 2-series 2015 218i хэтчбек
        div.info-order-mobile-item
            div.info-order-mobile-article
                span.info-order-mobile-article__title Код:
                span.info-order-mobile-article__text 0081246
            div.info-order-table-product
                a.cart-table-product__image.order-info-table-product__image(href="#")
                    img(src="local/templates/kolesatyt/img/cart-image.png")
                div
                    a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
            div.info-order-mobile-price
                span.info-order-mobile-price__title Количество и стоимость
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        span.cart-table__price 3
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
        div.info-order-mobile-item
            div.info-order-mobile-article
                span.info-order-mobile-article__title Код:
                span.info-order-mobile-article__text 0081246
            div.info-order-table-product
                a.cart-table-product__image.order-info-table-product__image(href="#")
                    img(src="local/templates/kolesatyt/img/cart-image.png")
                div
                    a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
            div.info-order-mobile-price
                span.info-order-mobile-price__title Количество и стоимость
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        span.cart-table__price 3
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
        div.info-order-mobile-item
            div.info-order-mobile-article
                span.info-order-mobile-article__title Код:
                span.info-order-mobile-article__text 0081246
            div.info-order-table-product
                a.cart-table-product__image.order-info-table-product__image(href="#")
                    img(src="local/templates/kolesatyt/img/cart-image.png")
                div
                    a.cart-table-product__link(href="#") Шина Nokian Hakkapeliitta 8 suv
            div.info-order-mobile-price
                span.info-order-mobile-price__title Количество и стоимость
                div.cart-table-price-and-delete
                    div.cart-table-price
                        span.cart-table__price 8 080 &#8381;
                        span.cart-table__price-multi x
                        span.cart-table__price 3
                        span.cart-table__price-equally =
                        span.cart-table__price-total 32 320
                        span.cart-table__price-rouble &nbsp;&#8381;
    hr.table-cart-separate.no-margin.hide-mobile
    div.cart-table-bottom.info-table-bottom
        div.info-order-table-sum
            span.cart-table-sum__text.info-order-table-sum__text Товаров на:
            span.cart-table-sum__price.info-order-table-sum__price 66 320 &#8381;
        div.info-order-table-sum
            span.cart-table-sum__text.info-order-table-sum__text Итого:
            span.cart-table-sum__price.info-order-table-sum__price 66 320 &#8381;