div.container.hide-mobile
	div.row.container-about
		div.col-lg-12
			h3 «Kolesatyt.ru» — интернет-магазин шин и дисков для вашего авто
			p
				|Интернет-магазин «КолесаТут» представляет широчайший ассортимент зимней и летней резины для грузовых и легковых автомобилей. Наша сеть — официальный дилер многих ведущих производителей, у нас вы можете купить шины и диски с полноценной гарантией на весь срок эксплуатации. 
			p
				|Нам доверяют свой товар лучшие мировые бренды!
			div.about-accordeon#accordion
				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 1
						span.about-accordeon-header__text Большой выбор шин
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse1") 
					div#collapse1.panel-collapse.collapse.out
						div.panel-body
							p
								|На наших складах постоянно имеется в наличии более 8500 моделей дисков, а также свыше 4000 вариантов всесезонной, зимней и летней резины не только легковых автомобилей и внедорожников, но и для грузовой, сельскохозяйственной и специальной техники.
							p
								|КолесаТут тщательно следят за условиями хранения и складскими стоками, своевременно заменяя остатки продукции и ежедневно отгружая новую, а также оперативно завозя новинки. Широкий ценовой диапазон позволяет нашим клиентам подобрать шины и диски от эконом-класса до премиальных.

				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 2
						span.about-accordeon-header__text Предоставление гарантии
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse2") 
					div#collapse2.panel-collapse.collapse.out
						div.panel-body
							p
								|КолесаТут является официальным представителем большинства ведущих изготовителей шин и дисков, поэтому дает полную гарантию на весь срок эксплуатации. В случае возникновения любых вопросов наши клиенты всегда могут обратиться к нам за справкой или консультацией, а также сдать купленный товар на экспертизу. Все эти услуги оказываются максимально оперативно и совершенно бесплатно.

				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 3
						span.about-accordeon-header__text Доставка
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse3") 
					div#collapse3.panel-collapse.collapse.out
						div.panel-body
							p
								|Шины и диски, купленные у нас, могут быть доставлены по указанному клиентом адресу или самостоятельно вывезены из пунктов выдачи.

				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 4
						span.about-accordeon-header__text КолесаТут – официальный представитель ведущих брендов
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse4") 
					div#collapse4.panel-collapse.collapse.out
						div.panel-body
							p
								|Сотрудничество с большинством ведущих производителей обеспечивает интернет-магазину дисков и шин КолесаТут ряд преимуществ:
								ul
									li исключение возможности подделки благодаря прямым поставкам с завода-изготовителя;
									li наличие всего ассортимента;
									li постоянная актуализация ассортимента;
									li адекватные цены, скидки и акции.

				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 5
						span.about-accordeon-header__text Удобные варианты оплаты
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse5") 
					div#collapse5.panel-collapse.collapse.out
						div.panel-body
							p
								|Интернет магазин КолесаТут принимает оплату товара наличным или безналичным способом.

				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 6
						span.about-accordeon-header__text Внимательное отношение к каждому клиенту
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse6") 
					div#collapse6.panel-collapse.collapse.out
						div.panel-body
							p
								|Наши консультанты всегда готовы оперативно ответить на любой вопрос, возникающий у клиента, и помочь подобрать шины и диски на автомобиль любой марки.

				div.panel.panel-default.about-accordeon__item
					div.about-accordeon-header 	
						span.about-accordeon-header__number 7
						span.about-accordeon-header__text Продуманный для удобства клиентов сервис
						a.about-accordeon-header__link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse7") 
					div#collapse7.panel-collapse.collapse.out
						div.panel-body
							p
								|Продуманный для удобства клиентов сервис