div.container.hide-mobile
	div.row.container-breadcrumps
		div.col-lg-12
			a.container-breadcrumps__link(href="#") Главная
			a.container-breadcrumps__link(href="#") Каталог дисков
			a.container-breadcrumps__link(href="#") Подбор дисков по автомобилю
			span.container-breadcrumps__span BMW 2-series 2015 г. 218i F45 Active Tourer