footer
	div.container
		div.row.container-footer
			div.col-lg-2.col-md-2.hide-mobile.hide-tablet
				a.footer-link__bold(href="#") колесатут.ру
				a.footer-link__normal(href="#") О компании
				a.footer-link__normal(href="#") Партнерам
				a.footer-link__normal(href="#") Франчайзинг
				a.footer-link__normal(href="#") Контакты
			div.col-lg-2.col-md-2.hide-mobile.hide-tablet
				a.footer-link__bold(href="#") Каталог
				a.footer-link__normal(href="#") Шины
				a.footer-link__normal(href="#") Диски
				a.footer-link__normal(href="#") Инструменты
				a.footer-link__normal(href="#") Автохимия
				a.footer-link__normal(href="#") Акции
			div.col-lg-2.col-md-2.hide-mobile.hide-tablet
				a.footer-link__bold(href="#") Помощь
				a.footer-link__normal(href="#") Самомвывоз
				a.footer-link__normal(href="#") Способы доставки
				a.footer-link__normal(href="#") Способы оплаты
				a.footer-link__normal(href="#") Правила возврата
			div.col-lg-2.col-md-2.hide-mobile.hide-tablet
				a.footer-link__bold(href="#") правила возврата
				a.footer-link__normal(href="#") Обзоры шин и дисков
				a.footer-link__normal(href="#") Новости автомира
				a.footer-link__normal(href="#") Образец доверенности
				a.footer-link__normal(href="#") Как подобрать диски
				a.footer-link__normal(href="#") Как подобрать шины
			div.col-lg-3.col-lg-offset-1.col-md-12.col-md-offset-1.col-xs-12.col-sm-12
				a.footer-link__bold(href="#") Остались вопросы?
				div.footer-phones.hide-mobile.hide-tablet
					div.footer-phones-item
						a.footer-phones-item__phone(href="tel:88003338187") 8 800 333-81-87
						a.footer-phones-item__mail(href="mailto:info@kolesatyt.ru") info@kolesatyt.ru
					div.footer-phones-item
						a.footer-phones-item__phone(href="tel:+74952681227") +7 (495) 268-12-27
				div.footer-phones.show-mobile.show-tablet
					a.footer-phones-item__phone(href="tel:88003338187") 8 800 333-81-87
					a.footer-phones-item__phone(href="tel:+74952681227") +7 (495) 268-12-27
					a.footer-phones-item__mail(href="mailto:info@kolesatyt.ru") info@kolesatyt.ru
				div.footer-socials
					span.footer-socials_text Мы на связи
					div.footer-socials-items
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/twitter.svg", alt="twitter", class="svg footer-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/facebook.svg", alt="facebook", class="svg footer-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/instagram.svg", alt="instagram", class="svg footer-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/vk.svg", alt="vk", class="svg footer-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/odnoklassniki-logo.svg", alt="odnoklassniki-logo", class="svg footer-social")
						a.videoreviews-social-item(href="#")
							img(src="local/templates/kolesatyt/svg/google-plus-social-logotype.svg", alt="google-plus-social-logotype", class="svg footer-social")
				div
					span.footer-socials_text Нам важно именно ваше мнение!
					a(href="#")
						img(src="local/templates/kolesatyt/img/ym-bottom.png")
				div.footer-apps.show-mobile.hide-tablet
					a(href="#")
						img(src="local/templates/kolesatyt/img/gplay.png")
					a(href="#")
						img(src="local/templates/kolesatyt/img/appstore.png")
		div.footer-copy
			| © 2009 - 2017, шины и диски интернет‒магазин «kolesatyt.ru».&nbsp;
			a.footer-copy__link(href="#") Договор оферты
script(src="local/templates/kolesatyt/js/libs.min.js")
script(src='local/templates/kolesatyt/js/magnificent/src/js/mag.js')
script(src='local/templates/kolesatyt/js/magnificent/src/js/mag-jquery.js')
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHCzcKfrq9qGMJW37VzJLWQPdngcYLhRc&callback=initMap" defer async)
script(src="local/templates/kolesatyt/js/common-programmer.js")
script(src="local/templates/kolesatyt/js/common.js")

