div.modal-issue
    div.container.modal-issue-container
        div.row.modal-issue-row
            div.col-lg-6.modal-issue-content
                i.close-popup.modal-issue-close
                span.modal-issue-title
                    |Пункты выдачи товара в Москве
                    span.modal-issue__title-count 56 шт
                div.row.modal-issue-header-puncts
                    div.col-lg-4.modal-issue-header
                        span.modal-issue__number №
                        span Адрес
                    div.col-lg-4.modal-issue-header
                        span
                            |Контактный телефон,
                            br
                            |график работы
                    div.col-lg-4.modal-issue-header
                        span Оплата картой
                div.modal-issue-content-scroll.scrollbar-inner
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 1.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 2.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 3.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 4.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 5.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 6.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 7.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 8.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item.sss
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 9.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                    div.row.modal-issue-item
                        div.col-lg-4.modal-issue-col-1
                            span.modal-issue__number-bold 10.
                            div.modal-issue-col-1-text
                                span.modal-issue__name ул. Бусиновская Горка, дом 2
                                span.modal-issue-as Как проехать
                        div.col-lg-4.modal-issue-col-2
                            span.modal-issue__phone + 7 (495) 775 45 85
                            span.modal-issue__clock
                                | Пн-Пт: с 08.00 до 22.00
                                br
                                | Сб-Вс: с 10.00 до 18.00
                        div.col-lg-4.modal-issue-col-3
                            span.modal-issue__card Принимается
                        div.modal-issue-item-popup
                            i.modal-issue-item-popup__close
                            span.modal-issue-item-popup__title Как проехать
                            span.modal-issue-item-popup__text
                                | Станция метро «Кунцевская», первый вагон из центра.
                                br
                                | Автобусы 610, 612 до остановки «Рябиновая - по требованию».
                                br
                                | Время в пути от метро - 25 минут.
                                br
                                | Въезд на территорию центра по обслуживанию клиентов бесплатный.
                span.modal-issue__text-bottom Купленные в интернет-магазине  «KolesaTyT.ru» шины и диски с доставкой по области, вы можете получить БЕСПЛАТНО в пункте выдачи или адресной доставкой.
            div.col-lg-6.modal-issue-map-col
                div#map-modal(style="height:100%")