div#modalStores.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-credit-dialog
		i.close-popup(data-dismiss="modal")
		h3 Наличие на складах
		div.row.hide-mobile
			div.col-lg-12
				div.modal-stores-table
					div.modal-stores-table__titles
						span Доставка
						span Количество
						span Склад
					div.modal-stores-table__row
						span 02.08.2017 (ср.)
						span 1 шт.
						span Ярославль
					div.modal-stores-table__row
						span 02.08.2017 (ср.)
						span 1 шт.
						span Ярославль
					div.modal-stores-table__row
						span 02.08.2017 (ср.)
						span 1 шт.
						span Ярославль
		div.row.hide-desktope.hide-tablet.show-mobile
			div.col-lg-12
				div.modal-stores-item-mobile
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Доставка:
						span.modal-stores-item-mobile__text 02.08.2017 (ср.)
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Количество:
						span.modal-stores-item-mobile__text 1 шт.
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Склад:
						span.modal-stores-item-mobile__text Ярославль
				div.modal-stores-item-mobile
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Доставка:
						span.modal-stores-item-mobile__text 02.08.2017 (ср.)
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Количество:
						span.modal-stores-item-mobile__text 1 шт.
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Склад:
						span.modal-stores-item-mobile__text Ярославль
				div.modal-stores-item-mobile
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Доставка:
						span.modal-stores-item-mobile__text 02.08.2017 (ср.)
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Количество:
						span.modal-stores-item-mobile__text 1 шт.
					div.modal-stores-item-mobile__row
						span.modal-stores-item-mobile__name Склад:
						span.modal-stores-item-mobile__text Ярославль
						
div#modalTryOn.modal.fade(role="dialog")
	div.modal-dialog.modal-tryon
		div.modal-tryon-content
			i.close-popup(data-dismiss="modal")
			div.row
				div.col-lg-12
					span.modal-tryon__name-car БМВ 2 серии 2015 с двигателем 218I хэтчбэк
					img.modal-tryon__car(src="local/templates/kolesatyt/img/modal-car.png")
			div.row.modal-tryon-product-block
				div.col-lg-6
					div.modal-tryon-product-block-image
						img.modal-tryon-product__image(src="local/templates/kolesatyt/img/photo-big.png")
						i.modal-tryon-product__best-price
				div.col-lg-6
					div.modal-tryon-product-info
						a.modal-tryon-product__link(href="#") MR139 7x16/5x112 ET37 D66.6
						span.modal-tryon-product__brand Vissol, литой
						div.modal-tryon-product-cart
							span.modal-tryon-product-cart__price 3 472 &#8381;
							a.modal-tryon-product-cart__btn(href="#") Купить
							div.modal-tryon-product-cart-favorite-container
								i.modal-tryon-product-cart__favorite
						span.modal-tryon-product__delivery Доставим сегодня, от 400 руб
						span.modal-tryon-product__article Код 9167832
						span.modal-tryon-product__color Серая полировка
						span.modal-tryon-product__store
							|На складе > 50
							br
							|В магазинах города > 30
							
div#modalIdontnow.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-idontnow-dialog
		i.close-popup(data-dismiss="modal")
		h3 Как узнать параметры автомобиля
		p Выберите один из предложенных вариантов и узнайте параметры вашего автомобиля.
		ul.nav.nav-tabs.tabs-modal-idontnow.hide-mobile
			li.active.tabs-modal-idontnow__li
				a(href="#panel1" data-toggle="tab").tabs-modal-idontnow__link Позвонить менеджеру
			li.tabs-modal-idontnow__li
				a(href="#panel2" data-toggle="tab").tabs-modal-idontnow__link Перейти в каталог
			li.tabs-modal-idontnow__li
				a(href="#panel3" data-toggle="tab").tabs-modal-idontnow__link Узнать недостающую информацию
		div.tab-content.tabs-modal-idontnow-content.hide-mobile
			div#panel1.tab-pane.fade.in.active
				div.row
					div.col-lg-6.col-md-6
						span.checkout-contacts-title Введите ваш номер телефона
						input(type="text" class="checkout-contacts-input phone" placeholder="+7 (___)___-__-__")
						a.btn__type4.modal-idontnow__btn(href="#") Жду звонка
			div#panel2.tab-pane.fade
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс. По мнению ведущих маркетологов, неорганическое соединение оправдывает из ряда вон выходящий медиабизнес. Десукция, как бы это ни казалось парадоксальным, создает конструктивный анализ зарубежного опыта.
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс.
				div.row
					div.col-lg-6.col-md-6
						a.btn__type4.modal-idontnow__btn(href="#") Перейти в каталог
			div#panel3.tab-pane.fade
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс. По мнению ведущих маркетологов, неорганическое соединение оправдывает из ряда вон выходящий медиабизнес. Десукция, как бы это ни казалось парадоксальным, создает конструктивный анализ зарубежного опыта.
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс.
				img(src="local/templates/kolesatyt/img/pts.jpg")
		div.personal-page-mobile-item.show-mobile.hide-desktope.hide-tablet
			span.personal-page-mobile-item-title Позвонить менеджеру
			div.catalog-detail-mobile-div
				div.row
					div.col-lg-6.col-md-6
						span.checkout-contacts-title Введите ваш номер телефона
						input(type="text" class="checkout-contacts-input phone" placeholder="+7 (___)___-__-__")
						a.btn__type4.modal-idontnow__btn(href="#") Жду звонка
			span.personal-page-mobile-item-title Перейти в каталог
			div.catalog-detail-mobile-div
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс. По мнению ведущих маркетологов, неорганическое соединение оправдывает из ряда вон выходящий медиабизнес. Десукция, как бы это ни казалось парадоксальным, создает конструктивный анализ зарубежного опыта.
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс.
				div.row
					div.col-lg-6.col-md-6
						a.btn__type4.modal-idontnow__btn(href="#") Перейти в каталог
			span.personal-page-mobile-item-title Узнать недостающую информацию
			div.catalog-detail-mobile-div
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс. По мнению ведущих маркетологов, неорганическое соединение оправдывает из ряда вон выходящий медиабизнес. Десукция, как бы это ни казалось парадоксальным, создает конструктивный анализ зарубежного опыта.
				p Форшлаг вызывает потребительский контрапункт контрастных фактур. Несмотря на кажущуюся простоту эксперимента, явление культурологического порядка специфицирует подпахотный почвообразовательный процесс.
				img(src="local/templates/kolesatyt/img/pts.jpg")
							
div#modalgarant.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-credit-dialog
		i.close-popup(data-dismiss="modal")
		h3 Гарантия производителя на шины
		span.garand-modal-italic Гарантия на шины - весь срок службы
		div.garant-modal-text-and-image
			div.garant-modal-text
				p Срок службы шины истекает в момент износа протектора (если небыло иных повреждений), вне зависимости от года производства шины.
				p Соответственно, гарантия на шины - весь срок службы (до момента износа протектора).
			div.garant-modal-image
				img.garant-modal-image__image(src="local/templates/kolesatyt/img/rash-garanty.png")
			

div#modalCredit.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-credit-dialog
		i.close-popup(data-dismiss="modal")
		img.modal-logo-credit(src="local/templates/kolesatyt/img/logo-credit.png")
		span.modal-credit-title Покупай сейчас – плати потом!
		div.modal-credit-block
			span.modal-credit-text Приобретайте товары в интернет-магазине ПАРТНЕР в рассрочку с сервисом "PAYLATE - доверительная оплата». Всё очень просто: Вы получаете товар сейчас, а платите позже, когда у Вас будут деньги!
		div.modal-credit-block
			span.modal-credit-block-list-title Преимущества сервиса «Доверительная оплата»:
			ul.modal-credit-block-list-ul
				li.modal-credit-block-list-li Настоящий онлайн. От регистрации до покупки 20 минут;
				li.modal-credit-block-list-li 15 дней без переплат;
				li.modal-credit-block-list-li Выгодно – процентная ставка после льготного периода  от 1,9% в месяц;
				li.modal-credit-block-list-li Срок предоставления сервиса - до 12 месяцев.
		div.modal-credit-block
			span.modal-credit-block-list-title Условия предоставления
			ul.modal-credit-block-list-ul
				li.modal-credit-block-list-li Гражданство РФ, с постоянной регистрацией на территории РФ*;
				li.modal-credit-block-list-li Минимальный возраст заёмщика - 18 лет;
				li.modal-credit-block-list-li Стоимость покупки, оформленная в кредит от 3 000 – 150 000 рублей;
				li.modal-credit-block-list-li Наличие постоянного источника дохода.
			div.modal-credit-block-star
				span.modal-credit-text
					b.modal-credit-block-star-bold *кроме регионов:
					span Чеченская республика; Республика Дагестан; Республика Кабардино-Балкария; Северная и Южная Осетия (Алания); Республика Ингушетия; Карачаево-Черкесская республика; Республика Крым.
		div.modal-credit-block
			span.modal-credit-block-list-title Как воспользоваться сервисом
			ul.modal-credit-block-list-ul
				li.modal-credit-block-list-li Выберите товар на нашем сайте;
				li.modal-credit-block-list-li Оформите заказ и выберете способ оплаты «В рассрочку»;
				li.modal-credit-block-list-li Пройдите регистрацию в сервисе PAYLATE;
				li.modal-credit-block-list-li Получите заказ у курьера.

div#modalBestPrice.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-best-price
		i.close-popup(data-dismiss="modal")
		div.modal-best-price-content
		div.modal-best-price-logo
			|KOLESA
			span.modal-best-price-logo-green TYT.RU
			div.modal-best-price-logo-text 
				|гарантирует лучшую цену
				br
				|на автомобильные диски!
		div.modal-best-price-logo-text-italic-center 
			|При покупке комплекта дисков (4 шт) вы получаете самую выгодную цену на товар с учетом доставки в город Астрахань.
		span.modal-best-price-title
			|НАШЕЛ ЦЕНУ ЛУЧШЕ? ПОКАЖИ!
			br
			|И МЫ ПРОДАДИМ ПО ДВОЙНОЙ РАЗНИЦЕ В ВАШУ ПОЛЬЗУ!	
		div.modal-best-price-steps
			div.row.best-price-steps-row
				div.col-sm-1
					span.modal-best-price-steps__number 1
				div.col-sm-7
					span.modal-best-price-steps__text Нашел в другом магазине более выгодную цену на такой же товар, что и в KOLESATYT.RU?
				div.col-sm-4.modal-best-price-steps__icon
					i.modal-best-price-steps__icon1
			div.row.best-price-steps-row
				div.col-sm-1
					span.modal-best-price-steps__number 2
				div.col-sm-4.modal-best-price-steps__icon
					i.modal-best-price-steps__icon2
				div.col-sm-7
					span.modal-best-price-steps__text Сфотографируй ценник или скопируй сcылку на страницу найденного товара.
			div.row.best-price-steps-row
				div.col-sm-1
					span.modal-best-price-steps__number 3
				div.col-sm-7
					span.modal-best-price-steps__text Прикрепи ссылку или фото с товаром в форму ниже.
				div.col-sm-4.modal-best-price-steps__icon
					i.modal-best-price-steps__icon3
			div.row.best-price-steps-row
				div.col-sm-1
					span.modal-best-price-steps__number 4
				div.col-sm-4.modal-best-price-steps__icon
					i.modal-best-price-steps__icon4
				div.col-sm-7
					span.modal-best-price-steps__text
						|Получи&nbsp;
						span.modal-best-price-steps__text-green колесные диски по двойной разнице&nbsp;
						|от той цены, что нашел!
			div.modal-best-price-steps-big-text 
				|Например, вы нашли в другом магазине автомобильный диск за 10 тыс. руб., а в KOLESATYT.RU такой же диск стоит 12 тыс. руб. (разница 2 тыс. руб), расчет новой цены диска будет по схеме:
				br
				|12 000 - 2 000 - 2 000 = 8 000
		a.modal-best-price-btn(href="#") Получить лучшую цену

div#modaltypesize.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-best-price.modaltypesize
		i.close-popup(data-dismiss="modal")
		span.modal-search-city__title Типоразмеры шин и дисков
		img.popup-typesize-image(src="local/templates/kolesatyt/img/typesize.jpg")

div#modalBestPriceForms.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-best-price
		i.close-popup(data-dismiss="modal")
		div.modal-best-price-forms
			span.modal-best-price-forms__title ФОРМА ДЛЯ ЗАПОЛНЕНИЯ
			div.modal-best-price-forms-labels.row
				div.col-lg-6.col-md-6
					label.modal-best-price-forms-label#form-1-label
						input(type="radio" checked name="form")
						span.modal-best-price-forms-span Товар найден в интернет-магазине
				div.col-lg-6.col-md-6
					label.modal-best-price-forms-label#form-2-label
						input(type="radio" name="form")
						span.modal-best-price-forms-span Товар найден в розничном магазине
			form.modal-best-price-form.form2
				div.row.entity-row
					div.col-sm-12
						span.checkout-contacts-title Название магазина *
						input.checkout-delivery-title__input(type="text" required)
				div.row.entity-row
					div.col-sm-12
						span.checkout-contacts-title Фото с ценой
						input(type="file")
				div.row.entity-row
					div.col-sm-12
						span.checkout-contacts-title Ваше ФИО *
						input.checkout-delivery-title__input(type="text" required placehold="Фамилия Имя Отчество")
				div.row.entity-row
					div.col-sm-6
						span.checkout-contacts-title Телефон *
						input.checkout-delivery-title__input.phone(type="text" required placeholder="+7 (___)___-__-__")
					div.col-sm-6
						span.checkout-contacts-title Электронная почта
						input.checkout-delivery-title__input(type="text" placehold="example@mail.ru")
				div.row.entity-row
					div.col-sm-12
						input.modal-best-price-btn__submit(type="submit" value="Отправить")
			form.modal-best-price-form.form1
				div.row.entity-row
					div.col-sm-12
						span.checkout-contacts-title ДОБАВЬТЕ ССЫЛКУ НА СТРАНИЦУ ТОВАРА *
						input.checkout-delivery-title__input(type="text" required placeholder="www.")
				div.row.entity-row
					div.col-sm-6
						span.checkout-contacts-title УКАЖИТЕ СТОИМОСТЬ ТОВАРА *
						input.checkout-delivery-title__input(type="text" required placeholder="руб.")
				div.row.entity-row
					div.col-sm-12
						span.checkout-contacts-title Ваше ФИО *
						input.checkout-delivery-title__input(type="text" required placehold="Фамилия Имя Отчество")
				div.row.entity-row
					div.col-sm-6
						span.checkout-contacts-title Телефон *
						input.checkout-delivery-title__input.phone(type="text" required placeholder="+7 (___)___-__-__")
					div.col-sm-6
						span.checkout-contacts-title Электронная почта
						input.checkout-delivery-title__input(type="text" placehold="example@mail.ru")
				div.row.entity-row
					div.col-sm-12
						input.modal-best-price-btn__submit(type="submit" value="Отправить")

div#modalSearchCity.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-search-city
		div.modal-search-city-content
			i.close-popup(data-dismiss="modal")
			span.modal-search-city__title
				|Выберите населенный пункт,
				br
				|в котором собираетесь получить товары
			ul.nav.nav-tabs.letters-city-tabs
				li.active
					a.letters-city-tabs__link(href="#let1" data-toggle="tab") А
				li
					a.letters-city-tabs__link(href="#let2" data-toggle="tab") Б
				li
					a.letters-city-tabs__link(href="let3" data-toggle="tab") В
				li
					a.letters-city-tabs__link(href="#let4" data-toggle="tab") Г
				li
					a.letters-city-tabs__link(href="#let5" data-toggle="tab") Д
				li
					a.letters-city-tabs__link(href="#let6" data-toggle="tab") Е
				li
					a.letters-city-tabs__link(href="#let7" data-toggle="tab") Ж
				li
					a.letters-city-tabs__link(href="#let8" data-toggle="tab") З
				li
					a.letters-city-tabs__link(href="#let9" data-toggle="tab") И
				li
					a.letters-city-tabs__link(href="#let10" data-toggle="tab") К
				li
					a.letters-city-tabs__link(href="#let11" data-toggle="tab") Л
				li
					a.letters-city-tabs__link(href="#let12" data-toggle="tab") М
				li
					a.letters-city-tabs__link(href="#let13" data-toggle="tab") Н
				li
					a.letters-city-tabs__link(href="#let14" data-toggle="tab") О
				li
					a.letters-city-tabs__link(href="#let15" data-toggle="tab") П
				li
					a.letters-city-tabs__link(href="#let16" data-toggle="tab") Р
				li
					a.letters-city-tabs__link(href="#let17" data-toggle="tab") С
				li
					a.letters-city-tabs__link(href="#let18" data-toggle="tab") Т
				li
					a.letters-city-tabs__link(href="#let19" data-toggle="tab") У
				li
					a.letters-city-tabs__link(href="#let20" data-toggle="tab") Х
				li
					a.letters-city-tabs__link(href="#let21" data-toggle="tab") Ч
				li
					a.letters-city-tabs__link(href="#let22" data-toggle="tab") Щ
				li
					a.letters-city-tabs__link(href="#let23" data-toggle="tab") Ю
				li
					a.letters-city-tabs__link(href="#let24" data-toggle="tab") Я
			div.tab-content.letters-city-tabs-content
				div#let1.active.tab-pane
					a.letters-city-tabs-content__link(href="#") Абакан
					a.letters-city-tabs-content__link(href="#") Астрахань
				div#let2.tab-pane
					a.letters-city-tabs-content__link(href="#") Базеево
			span.modal-search-city__text Не нашли нужный город в списке? Воспользуйтесь поиском по городам доставки:
			div.modal-search-city-input-container
				input.modal-search-city__input(type="text" placeholder="Введите название...")
				input.modal-search-city__submit(type="submit" value="")
div.list-cities
	div.container
		div.row.list-cities-content
			i.close-popup.close-popup-list-cities
			div.col-lg-4.col-lg-offset-2.col-lg-4.col-lg-offset-3.col-md-5.col-md-offset-4.col-sm-12
				div.list-cities-input-container
					input.list-cities__input(type="text" placeholder="Найдите свой нас. пункт...")
					input.list-cities__btn(type="submit" value="")
			div.col-lg-2
				ul.nav.nav-tabs.list-cities-tabs
					li.active
						a.list-cities-tabs__link(href="#panel1" data-toggle="tab") Алфавит
					li
						a.list-cities-tabs__link(href="#panel2" data-toggle="tab") Регион
		div.tab-content.list-city-tab-content
			div#panel1.active.tab-pane
				div.row
					div.col-lg-2.col-md-2.col-sm-3
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element_green(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
					div.col-lg-2.col-md-2.col-sm-3
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
					div.col-lg-2.col-md-2.col-sm-3
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
					div.col-lg-2.col-md-2.col-sm-3
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
					div.col-lg-2.col-md-2.col-sm-3
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
					div.col-lg-2.col-md-2.col-sm-3
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
						div.list-city-item
							div.list-city-item__letter А
							div.list-city-item-cities
								a.list-city-item-cities__element(href="#") Абакан
								a.list-city-item-cities__element(href="#") Азнакаево
								a.list-city-item-cities__element(href="#") Азов
								a.list-city-item-cities__element(href="#") Алексин
								a.list-city-item-cities__element(href="#") Альметьевск
								a.list-city-item-cities__element(href="#") Анапа
								a.list-city-item-cities__element(href="#") Арзамас
								a.list-city-item-cities__element(href="#") Астрахань
								a.list-city-item-cities__element(href="#") Аткарск
								a.list-city-item-cities__element(href="#") Ахтубинск
								a.list-city-item-cities__element(href="#") Ачинск
			div#panel2.tab-pane
				span asdsadsadasdsa asd asd as das 

div#modal-filter.modal.fade(role="dialog")
	i.close-popup(data-dismiss="modal")
	div.filter
		a(href="#")
		span.filter-title Фильтр с учетом авто
		div.filter-item
			span.filter-item__name Тип диска
				i.filter-question
			div.filter-item-content
				label.filter-item-label
					input(type="radio" name="type-disk")
					span.filter-radio-text
						span.filter-radio-text__title Литой
						span.filter-radio-text__description Небольшая масса, снижение нагрузок на подшипники ступиц, трансмиссию, подвеску.
				label.filter-item-label
					input(type="radio" name="type-disk")
					span.filter-radio-text
						span.filter-radio-text__title Кованный
						span.filter-radio-text__description Исключительно прочны и значительно легче дисков других типов.
				label.filter-item-label
					input(type="radio" name="type-disk")
					span.filter-radio-text
						span.filter-radio-text__title Штампованный
						span.filter-radio-text__description Недорогие, достаточно прочные. При сильном ударе не трескаются, а мнутся.
		div.filter-item
			span.filter-item__name Диаметр диска
			div.filter-item-content.filter-item-content-size-disk
				label.filter-item-label.filter-item-label-size
					input(type="checkbox" class="filter-item__checkbox-size" name="size-disk")
					span.filter-item-text__size-disk 15
				label.filter-item-label.filter-item-label-size
					input(type="checkbox" class="filter-item__checkbox-size" name="size-disk")
					span.filter-item-text__size-disk 16
				label.filter-item-label.filter-item-label-size
					input(type="checkbox" class="filter-item__checkbox-size" name="size-disk")
					span.filter-item-text__size-disk 17
				label.filter-item-label.filter-item-label-size
					input(type="checkbox" class="filter-item__checkbox-size" name="size-disk")
					span.filter-item-text__size-disk 18
		div.filter-item
			span.filter-item__name Срок доставки
			div.filter-item-content.filter-item-content-delivery
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text Сегодня
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text До 5 дней
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text Завтра
				label.filter-item-label.filter-item-label-delivery
					input(type="radio" name="delivery")
					span.filter-item-delivery__text Любой
		div.filter-item
			span.filter-item__name Особенность
				i.filter-question
			div.filter-item-content
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Заводские параметры
						span.filter-radio-text__description Параметры диска, рекомендованные производителем.
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Защита от грязи
						span.filter-radio-text__description Вылет больше (диск утоплен) или вылет уже обычного.
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Спортивная посадка
						span.filter-radio-text__description Вылет меньше (диск выпирает наружу) или вылет шире.
				label.filter-item-label
					input(type="checkbox" name="feature-disk")
					span.filter-radio-text
						span.filter-radio-text__title Универсальная ступица
						span.filter-radio-text__description С проставочными кольцами - ступичное отверстие больше, чем нужно.
		div.filter-item
			span.filter-item__name Цена за 1 шт.
			div.range-select
				div.range-select-div
					span.range-select-span от
					input(type="text" name="pricefrom" class="range-select-price" id="pricefrom" value="")
				div.range-select-div
					span.range-select-span до
					input(type="text" name="priceto" class="range-select-price" id="priceto" value="")
			input(type="text" id="range" name="range" value="")
		div.filter-item
			span.filter-item__name Цвет
			div.filter-item-content.filter-item-content-color
				label(title="Белый")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #eee")
				label(title="Черный")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #000")
				label(title="Серебристый")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #a3a3a3")
				label(title="Синий")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #0d68a2")
				label(title="Белый")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #eee")
				label(title="Черный")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #000")
				label(title="Серебристый")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #a3a3a3")
				label(title="Синий")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #0d68a2")
				label(title="Белый")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #eee")
				label(title="Черный")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #000")
				label(title="Серебристый")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #a3a3a3")
				label(title="Синий")
					input(type="checkbox" class="not-stylize")
					span.filter-color(style="background: #0d68a2")
		div.filter-item
			span.filter-item__name Производитель
				span.filter-item__name-count 56
			div.filter-item-content.filter-item-content-brand.scrollbar-inner
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alcasta
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Cross Street
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alutec
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alcasta
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Cross Street
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alutec
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alcasta
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Cross Street
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alutec
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alcasta
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Cross Street
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Arrivo
				label.filter-item-label.filter-item-label-brand
					input(type="checkbox" name="brand")
					span.filter-item-brand__text Alutec
		input.filter-btn(type="submit" value="Подобрать")
		a.filter-clear(href="#") Сбросить фильтр

div#modal-login.modal.fade(role="dialog")
	div.modal-login-content
		i.close-popup(data-dismiss="modal")
		div.modal-login__title Войти
		div.modal-login-socials
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/twitter.svg", alt="twitter", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/facebook.svg", alt="facebook", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/instagram.svg", alt="instagram", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/vk.svg", alt="vk", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/odnoklassniki-logo.svg", alt="odnoklassniki-logo", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/google-plus-social-logotype.svg", alt="google-plus-social-logotype", class="svg modal-login-social")
		div.modal-login-item
			label.label-forinput-default Логин или электронная почта
			input.input-text-default(type="text" placeholder="test@test.ru")
		div.modal-login-item
			label.label-forinput-default Пароль
			input.input-text-default(type="password")
			a.modal-login-link__password(href="#") Забыли пароль?
		input.btn__type4.modal-login__btn(type="submit" value="Войти")
		a.modal-login-link__registration(href="#") Зарегистрироваться

div#modal-registration.modal.fade(role="dialog")
	div.modal-login-content
		i.close-popup(data-dismiss="modal")
		div.modal-login__title Регистрация
		div.modal-login-socials
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/twitter.svg", alt="twitter", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/facebook.svg", alt="facebook", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/instagram.svg", alt="instagram", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/vk.svg", alt="vk", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/odnoklassniki-logo.svg", alt="odnoklassniki-logo", class="svg modal-login-social")
			a.modal-login-socials-item(href="#")
				img(src="local/templates/kolesatyt/svg/google-plus-social-logotype.svg", alt="google-plus-social-logotype", class="svg modal-login-social")
		div.modal-login-item
			label.label-forinput-default ФИО
			input.input-text-default(type="text" placeholder="Иванов Иван Иванович")
		div.modal-login-item
			label.label-forinput-default Номер телефона
			input.input-text-default.phone(type="text" placeholder="+7 (___)___-__-__")
		div.modal-login-item
			label.label-forinput-default Логин или электронная почта
			input.input-text-default(type="text" placeholder="test@test.ru")
		div.modal-login-item
			label.label-forinput-default Пароль
			input.input-text-default(type="password")
		input.btn__type4.modal-registration__btn(type="submit" value="Зарегистрироваться")

div#modal-password.modal.fade(role="dialog")
	div.modal-login-content
		i.close-popup(data-dismiss="modal")
		div.modal-login__title Восстановление пароля
		span.modal-password-text Укажите вашу электронную почту и мы вышлем вам ссылку для восстановления пароля
		div.modal-login-item
			label.label-forinput-default Электронная почта
			input.input-text-default(type="text" placeholder="test@test.ru")
		input.btn__type4.modal-registration__btn(type="submit" value="Восстановить")

div.overlay-city
	
div#modalCityMobile.modal.fade(role="dialog" data-show="true")
	div.modal-dialog.modal-credit-dialog
		i.close-popup(data-dismiss="modal")
		h3.modal-city-mobile-title Ваш город Москва?
		a(href="#").modal-city-mobile__link#yes-city Да, все верно
		a(href="#").modal-city-mobile__link#no-city Нет, выбрать другой город
