div.container.hide-mobile
	div.row.container-news
		div.col-lg-5.col-md-5
			h3 Полезные статьи
			div.news-item
				div.news-item-header
					div.news-item-header-date
						span.news-item-header-date__span 10.02
						span.news-item-header-date__span 2017
					a.news-item-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
				div.news-item__text
					| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
				span.news-count__reviews 167 просмотров
			div.news-item
				div.news-item-header
					div.news-item-header-date
						span.news-item-header-date__span 10.02
						span.news-item-header-date__span 2017
					a.news-item-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
				div.news-item__text
					| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
				span.news-count__reviews 167 просмотров
		div.col-lg-5.col-lg-offset-2.col-md-5.col-md-offset-2
			h3 Авто Новости
			div.news-item
				div.news-item-header
					div.news-item-header-date
						span.news-item-header-date__span 10.02
						span.news-item-header-date__span 2017
					a.news-item-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
				div.news-item__text
					| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
				span.news-count__reviews 167 просмотров
			div.news-item
				div.news-item-header
					div.news-item-header-date
						span.news-item-header-date__span 10.02
						span.news-item-header-date__span 2017
					a.news-item-header__link(href="#") В Москве будут фиксироваться нарушения на реверсивных полосах
				div.news-item__text
					| В Москве на реверсивных полосах будут установлены стационарные видеокамеры. Камеры установят на Ярославском шоссе и Проспекте Мира, всего их будет 15 штук. Штраф при выезде на реверсивную полосу с запрещающим сигналом светофора.
				span.news-count__reviews 167 просмотров