div.container
	div.row.popular-model-container
		div.col-lg-12
			div.h2-container
				h2 Популярные модели
			ul.popular-product-tabs
				li.popular-product-tabs-name Диски
				li.popular-product-tabs-name.active Шины
			div.popular-product-block
				span Блок с дисками
			div.popular-product-block.active
				div.popular-product-block-items
					div.popular-product-block-item
						a(href="#")
							img.popular-product-block__image(src="local/templates/kolesatyt/img/tire.jpg")
						a(href="#")
							span.popular-product-block-link__big Шина (Д) MICHELIN LATITUDE CROSS
							span.popular-product-block-link__small подходят для BMW M4
						div.popular-product-block-icons
							img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
							img.popular-product-block-icons__item.spring(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
							img.popular-product-block-icons__item.ships(src="local/templates/kolesatyt/svg/warning.svg" class="svg popular-icon")
					div.popular-product-block-item
						a(href="#")
							img.popular-product-block__image(src="local/templates/kolesatyt/img/tire.jpg")
						a(href="#")
							span.popular-product-block-link__big Шина (Д) MICHELIN LATITUDE CROSS
							span.popular-product-block-link__small подходят для BMW M4
						div.popular-product-block-icons
							img.popular-product-block-icons__item.ships(src="local/templates/kolesatyt/svg/warning.svg" class="svg popular-icon")
					div.popular-product-block-item
						a(href="#")
							img.popular-product-block__image(src="local/templates/kolesatyt/img/tire.jpg")
						a(href="#")
							span.popular-product-block-link__big Шина (Д) MICHELIN LATITUDE CROSS
							span.popular-product-block-link__small подходят для BMW M4
						div.popular-product-block-icons
							img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
							img.popular-product-block-icons__item.spring(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
					div.popular-product-block-item
						a(href="#")
							img.popular-product-block__image(src="local/templates/kolesatyt/img/tire.jpg")
						a(href="#")
							span.popular-product-block-link__big Шина (Д) MICHELIN LATITUDE CROSS
							span.popular-product-block-link__small подходят для BMW M4
						div.popular-product-block-icons
							img.popular-product-block-icons__item.ships(src="local/templates/kolesatyt/svg/warning.svg" class="svg popular-icon")
					div.popular-product-block-item
						a(href="#")
							img.popular-product-block__image(src="local/templates/kolesatyt/img/tire.jpg")
						a(href="#")
							span.popular-product-block-link__big Шина (Д) MICHELIN LATITUDE CROSS
							span.popular-product-block-link__small подходят для BMW M4
						div.popular-product-block-icons
							i.popular-product-block-icons__sun
				a.popular-produt__link-all(href="#") Смотреть все шины