div.container
	div.row.container-videoreviews
		div.h2-container.videoreviews
			h2 Видеообзор
		div.col-lg-6.col-md-6.col-xs-12
			div.videoreviews-block
				iframe(src="https://www.youtube.com/embed/z8Ywo1Z1IIU" frameborder="0" allowfullscreen)
			div.videoreviews-socials
				a.videoreviews-social-item(href="#")
					img(src="local/templates/kolesatyt/svg/twitter.svg", alt="twitter", class="svg footer-social")
				a.videoreviews-social-item(href="#")
					img(src="local/templates/kolesatyt/svg/facebook.svg", alt="facebook", class="svg footer-social")
				a.videoreviews-social-item(href="#")
					img(src="local/templates/kolesatyt/svg/instagram.svg", alt="instagram", class="svg footer-social")
				a.videoreviews-social-item(href="#")
					img(src="local/templates/kolesatyt/svg/vk.svg", alt="vk", class="svg footer-social")
				a.videoreviews-social-item(href="#")
					img(src="local/templates/kolesatyt/svg/odnoklassniki-logo.svg", alt="odnoklassniki-logo", class="svg footer-social")
				a.videoreviews-social-item(href="#")
					img(src="local/templates/kolesatyt/svg/google-plus-social-logotype.svg", alt="google-plus-social-logotype", class="svg footer-social")
		div.col-lg-5.col-lg-offset-1.col-md-5.col-md-offset-1.col-xs-12
			div.videoreviews-text
				a.videoreviews__all-video(href="#") Все видео
				p
					b.videoreviews__b Как правильно выбрать шины?
				p.videoreviews__p
					|При производстве «Alcasta» учитываются параметры, заданные заводами- производителями автомобилей, что позволяет устанавливать их вместо оригинальных (OEM) дисков и сохранять гарантию на машину.
				p.videoreviews__p
					|При производстве "Alcasta" учитываются параметры, заданные заводами- производителями автомобилей, что позволяет устанавливать их.
