div.row
    div.col-lg-12.col-md-12.col-sm-12.col-xs-12
        span.catalog-noauto-title Подобрать диски по автомобилю BMW
div.row.catalog-noauto-table
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") 1-series
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") l3
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        a.catalog-noauto-table-row__link(href="#") X5