div.row
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            |На складе > 50
                            br
                            |В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            | На складе > 50
                            br
                            | В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            | На складе > 50
                            br
                            | В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            | На складе > 50
                            br
                            | В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
div.row
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            |На складе > 50
                            br
                            |В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            | На складе > 50
                            br
                            | В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            | На складе > 50
                            br
                            | В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
        div.catalog-item
            div.catalog-item-info-big
                a.catalog-item__image(href="#")
                    img(src="local/templates/kolesatyt/img/photo.png")
                i.catalog-item__best-price
                div.catalog-item-favorite-container
                    i.catalog-item__favorite
                div.catalog-item-chart-container
                    i.catalog-item__chart
                div.catalog-item-info
                    span.catalog-item__articles Код 9167832
                    span.catalog-item__brand Vissol, литой
                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                    span.catalog-item__color Серая полировка
                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                    span.catalog-item__price 3 472 &#8381;
                    div.catalog-item__buttons
                        span.catalog-item__store
                            | На складе > 50
                            br
                            | В магазинах города > 30
                        a.catalog-item__tocart(href="#") Купить
                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
div.row.catalog-bottom
    div.col-lg-12.col-md-12
        div.catalog-bottom-container-pagination
            div.catalog-pagination
                a.catalog-pagination__prev(href="#")
                a.catalog-pagination__link(href="#") 1
                a.catalog-pagination__link(href="#") 2
                a.catalog-pagination__link_active(href="#") 3
                a.catalog-pagination__link(href="#") ...
                a.catalog-pagination__link(href="#") 111
                a.catalog-pagination__next(href="#")
            a.catalog-show-more(href="#") Показать еще