div.list-order-item
    div.list-order-item-header
        span.list-order-item-header__bold Заказ № 872962 от 09.07.2017
        a.list-order-item-header__button(href="#")
            span.list-order-item-header__button-span смотреть все данные по заказу
    div.list-order-item-content
        div.row
            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.list-order-item-content-description
                span.list-order-item-content-title Описание заказа:
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Статус заказа:
                    span.list-order-item-content-delivery
                        i.list-order-item-content-delivery-icon1
                        | Новый заказ
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Сумма заказа:
                    span.list-order-item-content-sum
                        span.list-order-item-content-sum-price 32 320 &#8381;
                        span.list-order-item-content-sum-status (оплачен)
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Способ оплаты:
                    span.list-order-item-content-pay
                        i.list-order-item-content-pay-icon
                        | Банковская карта
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Способ доставки:
                    span.list-order-item-content-type-delivery DPD
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Планируемая дата доставки:
                    span.list-order-item-content-date-delivery 12.10.2017
            div.col-lg-3.col-md-3.col-sm-12.col-xs-12.list-order-shadowing
                span.list-order-item-content-title Отследить заказ в транспортной компаниии:
                div.list-order-item-number-delivery-item
                    span.list-order-item-number-delivery
                        span.list-order-item-number-delivery-left Номер отправления:
                        span.list-order-item-number-delivery-right 123144346431
                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
                div.list-order-item-number-delivery-item
                    span.list-order-item-number-delivery
                        span.list-order-item-number-delivery-left Номер отправления:
                        span.list-order-item-number-delivery-right 123144346431
                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
            div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1.col-sm-12.col-xs-12
                span.list-order-item-content-title Действия по заказу:
                div.list-order-item-number-delivery-item
                    a.list-order-item__return(href="#")
                        span.list-order-item__return-span Оформить возврат

div.list-order-item
    div.list-order-item-header
        span.list-order-item-header__bold Заказ № 872962 от 09.07.2017
        a.list-order-item-header__button(href="#")
            span.list-order-item-header__button-span смотреть все данные по заказу
    div.list-order-item-content
        div.row
            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.list-order-item-content-description
                span.list-order-item-content-title Описание заказа:
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Статус заказа:
                    span.list-order-item-content-delivery
                        i.list-order-item-content-delivery-icon2
                        | Новый заказ
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Сумма заказа:
                    span.list-order-item-content-sum
                        span.list-order-item-content-sum-price 32 320 &#8381;
                        span.list-order-item-content-sum-status (оплачен)
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Способ оплаты:
                    span.list-order-item-content-pay
                        i.list-order-item-content-pay-icon
                        | Банковская карта
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Способ доставки:
                    span.list-order-item-content-type-delivery DPD
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Планируемая дата доставки:
                    span.list-order-item-content-date-delivery 12.10.2017
            div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1.col-sm-12.col-xs-12
                span.list-order-item-content-title Действия по заказу:
                div.list-order-item-number-delivery-item
                    a.list-order-item__return(href="#")
                        span.list-order-item__return-span Оформить возврат

div.list-order-item
    div.list-order-item-header
        span.list-order-item-header__bold Заказ № 872962 от 09.07.2017
        a.list-order-item-header__button(href="#")
            span.list-order-item-header__button-span смотреть все данные по заказу
    div.list-order-item-content
        div.row
            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.list-order-item-content-description
                span.list-order-item-content-title Описание заказа:
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Статус заказа:
                    span.list-order-item-content-delivery
                        i.list-order-item-content-delivery-icon3
                        | Новый заказ
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Сумма заказа:
                    span.list-order-item-content-sum
                        span.list-order-item-content-sum-price 32 320 &#8381;
                        span.list-order-item-content-sum-status (оплачен)
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Способ оплаты:
                    span.list-order-item-content-pay
                        i.list-order-item-content-pay-icon
                        | Банковская карта
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Способ доставки:
                    span.list-order-item-content-type-delivery DPD
                div.list-order-item-content-row
                    span.list-order-item-content-grey-title Планируемая дата доставки:
                    span.list-order-item-content-date-delivery 12.10.2017
            div.col-lg-3.col-md-3.col-sm-12.col-xs-12.list-order-shadowing
                span.list-order-item-content-title Отследить заказ в транспортной компаниии:
                div.list-order-item-number-delivery-item
                    span.list-order-item-number-delivery
                        span.list-order-item-number-delivery-left Номер отправления:
                        span.list-order-item-number-delivery-right 123144346431
                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
                div.list-order-item-number-delivery-item
                    span.list-order-item-number-delivery
                        span.list-order-item-number-delivery-left Номер отправления:
                        span.list-order-item-number-delivery-right 123144346431
                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
            div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1.col-sm-12.col-xs-12
                span.list-order-item-content-title Действия по заказу:
                div.list-order-item-number-delivery-item
                    a.list-order-item__return(href="#")
                        span.list-order-item__return-span Оформить возврат
