div.row
    div.col-xs-12
        a.catalog-item-order-tire.personal-exit(href="#") Выйти из личного кабинета
        div.personal-page-mobile-item
            span.personal-page-mobile-item-title Список заказов
            div.personal-page-mobile-orders
                div.list-order-item
                    div.list-order-item-header
                        span.list-order-item-header__bold Заказ № 872962 от 09.07.2017
                        a.list-order-item-header__button(href="#")
                            span.list-order-item-header__button-span смотреть все данные по заказу
                    div.list-order-item-content
                        div.row
                            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.list-order-item-content-description
                                span.list-order-item-content-title Описание заказа:
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Статус заказа:
                                    span.list-order-item-content-delivery
                                        i.list-order-item-content-delivery-icon1
                                        | Новый заказ
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Сумма заказа:
                                    span.list-order-item-content-sum
                                        span.list-order-item-content-sum-price 32 320 &#8381;
                                        span.list-order-item-content-sum-status (оплачен)
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Способ оплаты:
                                    span.list-order-item-content-pay
                                        i.list-order-item-content-pay-icon
                                        | Банковская карта
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Способ доставки:
                                    span.list-order-item-content-type-delivery DPD
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Планируемая дата доставки:
                                    span.list-order-item-content-date-delivery 12.10.2017
                            div.col-lg-3.col-md-3.col-sm-12.col-xs-12.list-order-shadowing
                                span.list-order-item-content-title Отследить заказ в транспортной компаниии:
                                div.list-order-item-number-delivery-item
                                    span.list-order-item-number-delivery
                                        span.list-order-item-number-delivery-left Номер отправления:
                                        span.list-order-item-number-delivery-right 123144346431
                                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
                                div.list-order-item-number-delivery-item
                                    span.list-order-item-number-delivery
                                        span.list-order-item-number-delivery-left Номер отправления:
                                        span.list-order-item-number-delivery-right 123144346431
                                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
                            div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1.col-sm-12.col-xs-12
                                span.list-order-item-content-title Действия по заказу:
                                div.list-order-item-number-delivery-item
                                    a.list-order-item__return(href="#")
                                        span.list-order-item__return-span Оформить возврат

                div.list-order-item
                    div.list-order-item-header
                        span.list-order-item-header__bold Заказ № 872962 от 09.07.2017
                        a.list-order-item-header__button(href="#")
                            span.list-order-item-header__button-span смотреть все данные по заказу
                    div.list-order-item-content
                        div.row
                            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.list-order-item-content-description
                                span.list-order-item-content-title Описание заказа:
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Статус заказа:
                                    span.list-order-item-content-delivery
                                        i.list-order-item-content-delivery-icon2
                                        | Новый заказ
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Сумма заказа:
                                    span.list-order-item-content-sum
                                        span.list-order-item-content-sum-price 32 320 &#8381;
                                        span.list-order-item-content-sum-status (оплачен)
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Способ оплаты:
                                    span.list-order-item-content-pay
                                        i.list-order-item-content-pay-icon
                                        | Банковская карта
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Способ доставки:
                                    span.list-order-item-content-type-delivery DPD
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Планируемая дата доставки:
                                    span.list-order-item-content-date-delivery 12.10.2017
                            div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1.col-sm-12.col-xs-12
                                span.list-order-item-content-title Действия по заказу:
                                div.list-order-item-number-delivery-item
                                    a.list-order-item__return(href="#")
                                        span.list-order-item__return-span Оформить возврат

                div.list-order-item
                    div.list-order-item-header
                        span.list-order-item-header__bold Заказ № 872962 от 09.07.2017
                        a.list-order-item-header__button(href="#")
                            span.list-order-item-header__button-span смотреть все данные по заказу
                    div.list-order-item-content
                        div.row
                            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.list-order-item-content-description
                                span.list-order-item-content-title Описание заказа:
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Статус заказа:
                                    span.list-order-item-content-delivery
                                        i.list-order-item-content-delivery-icon3
                                        | Новый заказ
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Сумма заказа:
                                    span.list-order-item-content-sum
                                        span.list-order-item-content-sum-price 32 320 &#8381;
                                        span.list-order-item-content-sum-status (оплачен)
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Способ оплаты:
                                    span.list-order-item-content-pay
                                        i.list-order-item-content-pay-icon
                                        | Банковская карта
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Способ доставки:
                                    span.list-order-item-content-type-delivery DPD
                                div.list-order-item-content-row
                                    span.list-order-item-content-grey-title Планируемая дата доставки:
                                    span.list-order-item-content-date-delivery 12.10.2017
                            div.col-lg-3.col-md-3.col-sm-12.col-xs-12.list-order-shadowing
                                span.list-order-item-content-title Отследить заказ в транспортной компаниии:
                                div.list-order-item-number-delivery-item
                                    span.list-order-item-number-delivery
                                        span.list-order-item-number-delivery-left Номер отправления:
                                        span.list-order-item-number-delivery-right 123144346431
                                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
                                div.list-order-item-number-delivery-item
                                    span.list-order-item-number-delivery
                                        span.list-order-item-number-delivery-left Номер отправления:
                                        span.list-order-item-number-delivery-right 123144346431
                                    a.list-order-item-number-delivery__link(href="#") Смотреть на сайте DPD
                            div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1.col-sm-12.col-xs-12
                                span.list-order-item-content-title Действия по заказу:
                                div.list-order-item-number-delivery-item
                                    a.list-order-item__return(href="#")
                                        span.list-order-item__return-span Оформить возврат

            span.personal-page-mobile-item-title Личные данные
            div.personal-page-mobile-info
                div.row
                    div.col-lg-offset-1.col-md-offset-1.col-lg-4.col-md-4.col-xs-12.col-sm-10.col-sm-offset-1.personal-info-left
                        span.list-order-item-content-title Данные для автозаполнения в заказе:
                        div.row.personal-info-row
                            div.col-lg-12.col-md-12
                                span.checkout-delivery-title__span ФИО
                                input.checkout-delivery-title__input(type="text" placeholder="Иванов Иван Иванович")
                        div.row.personal-info-row
                            div.col-lg-12.col-md-12
                                span.checkout-delivery-title__span Электронная почта
                                input.checkout-delivery-title__input(type="text" placeholder="Например, test@test.ru")
                        div.row.personal-info-row
                            div.col-lg-12.col-md-12.personal-info-row-number
                                span.checkout-delivery-title__span Номер телефона
                                input.checkout-delivery-title__input.phone(type="text" placeholder="+7 (___)___-__-__")
                                span.personal-info-add-number Добавить запасной
                        div.personal-info-notice
                            span.list-order-item-content-title Хочу получать уведомления о заказах:
                            div.personal-info-notice-content
                                label.personal-info-notice-label
                                    input(type="checkbox")
                                    span.personal-info-notice-label__span по СМС
                                label.personal-info-notice-label
                                    input(type="checkbox")
                                    span.personal-info-notice-label__span Viber
                                label.personal-info-notice-label
                                    input(type="checkbox")
                                    span.personal-info-notice-label__span Facebook
                                label.personal-info-notice-label
                                    input(type="checkbox")
                                    span.personal-info-notice-label__span Whatsapp
                                label.personal-info-notice-label
                                    input(type="checkbox")
                                    span.personal-info-notice-label__span
                                        | Telegram
                                        br
                                        | Messenger
                        div.row
                            div.col-lg-6.div-col-md-6
                                a.personal-info__button(href="#") Сохранить

                    div.col-lg-offset-2.col-md-offset-2.col-lg-4.col-md-4.col-xs-12.col-sm-10.col-sm-offset-1
                        span.list-order-item-content-title Смена пароля
                        div.row.personal-info-row
                            div.col-lg-12.col-md-12
                                span.checkout-delivery-title__span Новый пароль
                                input.checkout-delivery-title__input(type="password")
                        div.row.personal-info-row
                            div.col-lg-12.col-md-12
                                span.checkout-delivery-title__span Повтор нового пароля
                                input.checkout-delivery-title__input(type="password")
                        div.row
                            div.col-lg-6.div-col-md-6
                                a.personal-info__button(href="#") Сохранить
            span.personal-page-mobile-item-title История заказов
            div.personal-page-mobile-favorites
                div.row
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                div.row
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто
                    div.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        div.catalog-item
                            div.catalog-item-info-big
                                a.catalog-item__image(href="#")
                                    img(src="local/templates/kolesatyt/img/photo.png")
                                i.catalog-item__best-price
                                div.catalog-item-favorite-container
                                    i.catalog-item__favorite
                                div.catalog-item-chart-container
                                    i.catalog-item__chart
                                div.catalog-item-info
                                    span.catalog-item__articles Код 9167832
                                    span.catalog-item__brand Vissol, литой
                                    a.catalog-item__link(href="#") MR139 7x16/5x112 ET37 D66.6
                                    span.catalog-item__color Серая полировка
                                    span.catalog-item__delivery Доставим сегодня, от 400 руб
                                    span.catalog-item__price 3 472 &#8381;
                                    div.catalog-item__buttons
                                        span.catalog-item__store
                                            | На складе > 50
                                            br
                                            | В магазинах города > 30
                                        a.catalog-item__tocart(href="#") Купить
                                        a.catalog-item__toauto(href="#" data-toggle="modal" data-target="#modalTryOn") Примерить на авто