div.catalog-detail-big-image
	div.catalog-detail-big-image-delivery
		a.catalog-item__best-price.catalog-detail(href="#modalBestPrice" data-toggle="modal")
		span.catalog-detail-big-image-delivery__text лучшая цена
		img.popular-product-block-icons__item.sun(src="local/templates/kolesatyt/svg/brightness.svg" class="svg popular-icon")
		img.popular-product-block-icons__item.allweather(src="local/templates/kolesatyt/svg/Spring.svg" class="svg popular-icon")
		img.popular-product-block-icons__item.snowflake(src="local/templates/kolesatyt/svg/christmas-snowflake.svg" class="svg popular-icon")
		img.popular-product-block-icons__item.ships(src="local/templates/kolesatyt/svg/warning.svg" class="svg popular-icon")
	div.catalog-detail-big-image-icons
		span.catalog-detail-guarantee
			span.catalog-detail-guarantee__big 3 года
			span.catalog-detail-guarantee__small гарантия
		i.catalog-detail-big-image-icons__logo
			img(src="local/templates/kolesatyt/img/replica.png")
	div.catalog-detail-big-image-arrows
		a.catalog-detail-big-image-arrows__prev.arrow-not-slider(href="#")
		a.catalog-detail-big-image-arrows__next.arrow-not-slider(href="#")
	div.catalog-detail-big-image-arrows.hide
		a.catalog-detail-big-image-arrows__prev.arrow-yes-slider(href="#")
		a.catalog-detail-big-image-arrows__next.arrow-yes-slider(href="#")
	div(mag-thumb="inner")
		img.catalog-detail-big-image__img(src="local/templates/kolesatyt/img/photo-slide-detail-big.jpg")
	div(mag-zoom="inner")
		img.catalog-detail-big-image__img-zoom(src="local/templates/kolesatyt/img/photo-slide-detail-big-zoom.jpg")
a.open-guarant(href="#modalgarant" data-toggle="modal") Гарантия: весь срок эксплуатации
div.catalog-detail-small-image-container.hide
	div.catalog-detail-small-image
		div.catalog-detail-small-image-links
			a.catalog-detail-small-image__link.active(href="local/templates/kolesatyt/img/photo-slide-detail-big1.jpg")
				img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
			a.catalog-detail-small-image__link(href="local/templates/kolesatyt/img/photo-slide-detail-big2.jpg")
				img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
		div.catalog-detail-small-image-btn
			a.catalog-detail-small-image__btn(href="#")
				img(src="local/templates/kolesatyt/img/img-auto-mini.jpg")
	div.catalog-detail-more-colors
		span.catalog-detail-more-colors__link Диски в другом цвете
		div.catalog-detail-more-colors-list
			a.catalog-detail-more-colors__item(href="#")
				img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
			a.catalog-detail-more-colors__item(href="#")
				img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
div.catalog-detail-small-image-container
		div.catalog-detail-small-image-slider
			div
				a.catalog-detail-small-image__link.active.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1.jpg")
					img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
			div
				a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2.jpg")
					img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
			div
				a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1.jpg")
					img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
			div
				a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2.jpg")
					img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
			div
				a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1.jpg")
					img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
			div
				a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2.jpg")
					img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
		div.catalog-detail-small-image-var2
			div.catalog-detail-more-colors
				span.catalog-detail-more-colors__link Диски в другом цвете
				div.catalog-detail-more-colors-list
					a.catalog-detail-more-colors__item(href="#")
						img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
					a.catalog-detail-more-colors__item(href="#")
						img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
			div.catalog-detail-small-image-btn
				a.catalog-detail-small-image__btn(href="#")
					img(src="local/templates/kolesatyt/img/img-auto-mini.jpg")
