div.container
    div.row.catalog-detail-contacts
        div.col-lg-12.col-sm-12
            span.catalog-detail-interesting__title Пункты выдачи товара в Москве

div#map.catalog-detail-map(style="height: 450px")
