div.catalog-detail-big-image
	div.catalog-detail-tirs-icons
		div.catalog-detail-tirs-icons-items
			i.catalog-detail-icons__snowflake
		div.catalog-detail-tirs-icons-items
			i.catalog-detail-icons__thorns
	div.catalog-detail-big-image-icons
		i.catalog-detail-big-image-icons__guarantee
		i.catalog-detail-big-image-icons__logo
	div.catalog-detail-big-image-arrows
		a.catalog-detail-big-image-arrows__prev.arrow-not-slider(href="#")
		a.catalog-detail-big-image-arrows__next.arrow-not-slider(href="#")
	div.catalog-detail-big-image-arrows.hide
		a.catalog-detail-big-image-arrows__prev.arrow-yes-slider(href="#")
		a.catalog-detail-big-image-arrows__next.arrow-yes-slider(href="#")
	div(mag-thumb="inner")
		img.catalog-detail-big-image__img(src="local/templates/kolesatyt/img/photo-slide-detail-big.jpg")
	div(mag-zoom="inner")
		img.catalog-detail-big-image__img-zoom(src="local/templates/kolesatyt/img/photo-slide-detail-big-zoom.jpg")
div.catalog-detail-small-image
	div.catalog-detail-small-image-links
		a.catalog-detail-small-image__link.active(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
		a.catalog-detail-small-image__link(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
	div.catalog-detail-small-image-btn
		a.catalog-detail-small-image__btn(href="#")
			img(src="local/templates/kolesatyt/img/img-auto-tires-mini.png")
div.catalog-detail-small-image-slider.hide
	div
		a.catalog-detail-small-image__link.active.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
	div
		a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
	div
		a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
	div
		a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
	div
		a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big1")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
	div
		a.catalog-detail-small-image__link.catalog-detail-small-image__link-slider(href="local/templates/kolesatyt/img/photo-slide-detail-big2")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
div.catalog-detail-more-colors
	span.catalog-detail-more-colors__link Диски в другом цвете
	div.catalog-detail-more-colors-list
		a.catalog-detail-more-colors__item(href="#")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-1.jpg")
		a.catalog-detail-more-colors__item(href="#")
			img(src="local/templates/kolesatyt/img/photo-slide-detail-small-2.jpg")
